{% extends 'layout/base.html.twig' %}

{% block title_page %} 
    {{ 'schedule.list.title'|trans }}
{% endblock %}

{% block heading_actions %}
    <a href="" data-uk-tooltip="{pos:'bottom'}" title="{{ 'action.print'|trans }}">
        <i class="material-icons">&#xE555;</i>
    </a>
    <a href="" data-uk-tooltip="{pos:'bottom'}" title="{{ 'action.picture'|trans }}">
        <i class="material-icons">&#xE3B0;</i>
    </a>
{% endblock %}

{% block body %}
    <div class="filter md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                {{ 'student.schedule.title'|trans }}
            </h3>
        </div>
        <div class="md-card-content">
            {{ form_start(form) }}
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-form-row">
                            <label class="uk-form-label">
                                {{ form_label(form.division) }}
                            </label>
                            {{ form_widget(form.division)}}
                            <div class="parsley-errors-list filled uk-text-danger">
                                {{ form_errors(form.division) }}
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-form-row">
                            <label class="uk-form-label">{{ form_label(form.grade) }}</label>
                            {{ form_widget(form.grade)}}
                            <div class="parsley-errors-list filled uk-text-danger">
                                {{ form_errors(form.grade) }}
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-form-row">
                            <label class="uk-form-label">{{ form_label(form.section) }}</label>
                            {{ form_widget(form.section)}}
                            <div class="parsley-errors-list filled uk-text-danger">
                                {{ form_errors(form.section) }}
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        {{ form_widget(form.save)}}
                    </div>
                </div>
             {{ form_end(form) }}
        </div>
    </div>
    <div id="schedules" class="uk-margin-medium-top">
        {% if sessions is defined and schedules is defined %}
            {% include 'layout/schedule_view.html.twig' with {'sessions': sessions , 'schedules' : schedules } %}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            var $submit = $('button[type="submit"]');
            $submit.on("click",function(event) {
                event.preventDefault();
                var $token = $('input[type="hidden"]');
                var $division = $('.divisionField');
                var $grade = $('.gradeField');
                var $section = $('.sectionField');

                // ... retrieve the corresponding form.
                var $form = $(this).closest('form');
                // Simulate form data, but only include the selected grade value.
                var data = {};
                data[$token.attr('name')] = $token.val();
                data[$grade.attr('name')] = $grade.val();
                data[$section.attr('name')] = $section.val();
                data[$division.attr('name')] = $division.val();
                // Submit data via AJAX to the form's action path.
                $.ajax({
                    url : $form.attr('action'),
                    type: $form.attr('method'),
                    data : data,
                    cache: false,
                    success: function(html) {
                        $('.filter').addClass('md-card-collapsed');
                        // Replace current position field ...
                        $('.divisionField').parent(".uk-form-row").empty().append(
                            // ... with the returned one from the AJAX response.
                            $(html).find('.divisionField').parent()
                        );
                        $('.gradeField').parent(".uk-form-row").empty().append(
                            // ... with the returned one from the AJAX response.
                            $(html).find('.gradeField').parent()
                        );
                        $('.sectionField').parent(".uk-form-row").empty().append(
                            // ... with the returned one from the AJAX response.
                            $(html).find('.sectionField').parent()
                        );
                        $('#schedules').empty().removeClass('.uk-animation-fade');
                        $('#schedules').addClass('uk-animation-fade');
                        $('#schedules').append(
                            // ... with the returned one from the AJAX response.
                            $(html).find('#schedule')
                        );
                        altair_forms.init();
                    // Position field now displays the appropriate positions.
                }
              });
        });
        $(document).on('change' , '.divisionField', function () {
            if ($(this).val() !== null || $(this).val() !== ""){
                $(this).parent(".uk-form-row").find('.parsley-errors-list').hide();
            }else{
                $(this).parent(".uk-form-row").find('.parsley-errors-list').show();
            }
        });
    });
    </script>
    {% include 'filter/grade_section_filter.html.twig' %}
{% endblock %}