{% extends 'layout/base_header_double_height.html.twig' %}

{% block body %}
  <div class="uk-width-medium-8-10 uk-container-center">
    <div class="md-card md-card-single">
      <div class="md-card-toolbar">
        <a href="{{ path('registration_index') }}">
          <span class="md-icon md-card-fullscreen-deactivate material-icons uk-float-left">&#xE5C4;</span>
        </a>
        <h3 class="md-card-toolbar-heading-text large uk-margin-small-left">
          {{ 'registration.edit.title'|trans }}
        </h3>
      </div>
      <div class="md-card-content">
        <div class="uk-margin-small-top">

          {{ form_start(form) }}
          <div class="uk-grid uk-margin-medium-bottom" data-uk-grid-margin>
            <div class="uk-width-1-2">
              <div class="uk-form-row">
                {{ form_widget(form.grade)}}
                <span class="uk-form-help-block uk-text-bold">{{ form_label(form.grade) }}</span>
                <div class="parsley-errors-list filled uk-text-danger">
                  {{ form_errors(form.grade) }}
                </div>
              </div>

            </div>
            <div class="uk-width-1-2">
              <div class="uk-form-row">
                {{ form_widget(form.section)}}
                <span class="uk-form-help-block  uk-text-bold">{{ form_label(form.section) }}</span>
                <div class="parsley-errors-list filled uk-text-danger">
                  {{ form_errors(form.section) }}
                </div>
              </div>
            </div>
          </div>
					<div class="uk-grid uk-margin-small-top uk-margin-medium-bottom" data-uk-grid-margin>
            <div class="uk-width-1-2">
              <div class="uk-form-row uk-input-group">
                <span class="uk-input-group-addon">
                  <i class="md-list-addon-icon material-icons md-24">&#xE3D0;</i>
                </span>
                <label class="uk-form-label">{{ form_label(form.student) }}</label>
                {{ form_widget(form.student)}}
                <div class="parsley-errors-list filled uk-text-danger">
                  {{ form_errors(form.student) }}
                </div>
              </div>
            </div>
            <div class="uk-width-1-2">
              <div class="uk-form-row uk-input-group">
                <span class="uk-input-group-addon">
                  <i class="md-list-addon-icon material-icons md-24">&#xE3D1;</i>
                </span>
                <label class="uk-form-label">{{ form_label(form.registrationType) }}</label>
                {{ form_widget(form.registrationType)}}
                <div class="parsley-errors-list filled uk-text-danger">
                  {{ form_errors(form.registrationType) }}
                </div>
              </div>
            </div>
					</div>
					<div class="uk-form-row">
            {{ form_widget(form.registered, { 'attr': {'data-switchery-color': '#1976d2' , "data-switchery-size" : "medium" , "class" : "show_username_password" ,  "data-switchery" : ""} }) }}
            <label for="show_username_password" class="inline-label">{{ form_label(form.registered) }}</label>
						<div class="parsley-errors-list filled uk-text-danger">
							{{ form_errors(form.registered) }}
						</div>
					</div>
          {{ form_widget(form) }}

          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% include '@SMSPayment/registration/filter.html.twig' %}
{% endblock %}
