{% extends 'layout/base_no_header.html.twig' %}

{% block sticky_button %}
  <a class="md-fab md-fab-primary" data-uk-modal="{target:'#new_modal'}" href="#">
    <i class="material-icons">&#xE161;</i>
  </a>
{% endblock %}

{% block body %}
  <div class="uk-modal" id="new_modal">
    <div class="uk-modal-dialog">
      <button type="button" class="uk-modal-close uk-close"></button>
      <div class="uk-modal-header">
        <h3 class="uk-modal-title">{{ 'registration.new.title'|trans }}
          <i class="material-icons" data-uk-tooltip="{pos:'top'}" title="headline tooltip">&#xE8FD;</i>
        </h3>
      </div>
      {{ form_start(form) }}
      <div class="uk-form-row">
        <label class="uk-form-label">{{ form_label(form.paymentType) }}</label>
        {{ form_widget(form.paymentType)}}
        <div style="display:none;" class="error uk-margin-small-top parsley-errors-list filled uk-text-danger">
          {{ "registration.paymenttype.error"|trans }}
        </div>
      </div>
      <div class="uk-form-row uk-form-label">
        {{ form_widget(form.registration, { 'attr': {'data-switchery-color': '#39f' , "data-switchery-size" : "medium" } }) }}
        <label for="show_username_password" class="inline-label">{{ form_label(form.registration) }}</label>
      </div>
      {{ form_widget(form) }}

      {{ form_end(form) }}
      <div class="uk-modal-footer uk-text-right">
        <button type="button" class="md-btn md-btn-flat uk-modal-close">{{ "registration.field.close"|trans }}</button>
        <button type="button" class="registration_add md-btn md-btn-flat md-btn-flat-primary">{{ "registration.field.submit"|trans }}</button>
      </div>
    </div>
  </div>
  <div class="md-card uk-margin-medium-bottom">
    <div class="md-card-toolbar">
      <a href="{{ path('payment_index') }}">
        <span class="md-icon md-card-fullscreen-deactivate material-icons uk-float-left">&#xE5C4;</span>
      </a>
      <h3 class="md-card-toolbar-heading-text">
        {{ 'student.list.title'|trans }}
      </h3>
    </div>
    <div class="md-card-content">
      {{ datatable_render(students) }}
    </div>
  </div>
{% endblock %}
{% block head_javascripts %}
  {{ parent() }}
  <!-- page specific plugins -->
  <!-- datatables -->
  <script src="{{ asset('assets/plugins/datatables/js/jquery.dataTables.min.js')}}"></script>
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
  <!--  form file input functions -->
  <!-- uikit functions -->
  <script src="{{ asset('assets/js/uikit_custom.min.js')}}"></script>
{% endblock %}
{% block javascripts %}
  <!-- altair common functions/helpers -->
  <script src="{{ asset('assets/js/altair_admin_common.min.js')}}"></script>
  <!-- datatables custom integration -->
  <script src="{{ asset('assets/js/custom/datatables/datatables.uikit.min.js')}}"></script>
  <script src="{{ asset('assets/js/uikit_custom_dataTable.js')}}"></script>
  <!-- page specific plugins -->
  {% include '@SMSPayment/registration/multiselect_action.html.twig' %}
{% endblock %}
