{% extends 'layout/base.html.twig' %}

{% block title_page %}
    {{ 'student.mark.title'|trans }}
{% endblock %}

{% block stylesheets %}
    <!-- fullcalendar -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/fullcalendar/css/fullcalendar.min.css')}}">
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="md-card">
        <div class="md-card-content">
            <div id="calendar_selectable"></div>
        </div>
    </div>
    <div class="uk-modal" id="modal_full">
        <div class="uk-modal-dialog">
            <button type="button" class="uk-modal-close uk-close"></button>
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Headline <i class="material-icons" data-uk-tooltip="{pos:'top'}" title="headline tooltip">&#xE8FD;</i></h3>
            </div>
            <p>
              <ul class="md-list">
                  <li>
                      <div class="md-list-content">
                          <span class="md-list-heading">Heading</span>
                          <span class="uk-text-small uk-text-muted">Similique enim soluta officiis a ut totam.</span>
                      </div>
                  </li>
                  <li>
                      <div class="md-list-content">
                          <span class="md-list-heading">Heading</span>
                          <span class="uk-text-small uk-text-muted">Explicabo assumenda veniam ea cupiditate quasi cumque veniam aut aut adipisci.</span>
                      </div>
                  </li>
                  <li>
                      <div class="md-list-content">
                          <span class="md-list-heading">Heading</span>
                          <span class="uk-text-small uk-text-muted">Ipsa odit vitae et cumque unde est.</span>
                      </div>
                  </li>
                  <li>
                      <div class="md-list-content">
                          <span class="md-list-heading">Heading</span>
                          <span class="uk-text-small uk-text-muted">Ipsa odit vitae et cumque unde est.</span>
                      </div>
                  </li>
              </ul>
            </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Jquery UI -->
    <!-- fullcalendar -->
    <script src="{{ asset('assets/plugins/fullcalendar/js/fullcalendar.min.js')}}"></script>
    <!--  calendar functions -->
    <script src="{{ asset('assets/js/custom/plugins_fullcalendar.min.js')}}"></script>
{% endblock %}
