{% extends 'layout/base.html.twig' %}

{% block sub_title_page %}
  <a href="{{ path('division_index') }}">
    {{ 'division.list.title'|trans }}
  </a>
  /
  <a href="#">
    {{ 'division.show.title'|trans }}
  </a>
{% endblock %}

{% block sticky_button %}
  <a class="md-fab md-fab-accent md-fab-wave waves-effect waves-button" href="{{ path('division_edit', { 'id': division.id }) }}">
    <i class="material-icons">&#xE254;</i>
  </a>
{% endblock %}

{% block title_page %}
  {{ 'division.show.title'|trans }}
{% endblock %}

{% block body %}
  <div class="md-card">
    <div class="md-card-toolbar">
      <h3 class="md-card-toolbar-heading-text">
        {{ 'division.show.detail'|trans }}
      </h3>
    </div>
    <div class="md-card-content">

      <div class="uk-grid  uk-grid-divider" data-uk-grid-margin>

        <div class="uk-width-xLarge-8-10  uk-width-large-7-10">
          <ul class="md-list">
            <li>
              <div class="md-list-content">
                <span class="md-list-heading uk-text-large">{{ division.establishment }}</span>
              </div>
              <span class="uk-text-small uk-text-muted uk-display-block">
                {{'division.field.establishment'|trans }}</span>
            </li>
            <li>
              <div class="md-list-content">
                <span class="md-list-heading uk-text-large">{{ division.divisionName }}</span>
              </div>
              <span class="uk-text-small uk-text-muted uk-display-block">
                {{'division.field.name'|trans }}</span>
            </li>

            <li>
              <div class="md-list-content">
                <span class="md-list-heading uk-text-large">
                  {% if division.startDate %}{{ division.startDate|date('Y-m-d') }}{% endif %}
                </span>
              </div>
              <span class="uk-text-small uk-text-muted uk-display-block">
                {{'division.field.startDate'|trans }}</span>
            </li>
            <li>
              <div class="md-list-content">
                <span class="md-list-heading uk-text-large">
                  {% if division.endDate %}{{ division.endDate|date('Y-m-d') }}{% endif %}
                </span>
              </div>
              <span class="uk-text-small uk-text-muted uk-display-block">
                {{'division.field.endDate'|trans }}</span>
            </li>
          </ul>
        </div>

        <div class="uk-width-xLarge-2-10 uk-width-large-3-10">
          <h3 class="heading_c uk-margin-small-bottom uk-margin-small-top">
            {{ 'author.info'|trans }}
          </h3>
          <ul class="md-list md-list-addon">
            <li>
              <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons">&#xE7FD;</i>
              </div>
              <div class="md-list-content">
                <span class="md-list-heading">{{ division.user.username }}</span>
                <span class="uk-text-small uk-text-muted">{{ 'author.creator'|trans }}</span>
              </div>
            </li>
            <li>
              <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons">&#xE8DF;</i>
              </div>
              <div class="md-list-content">
                <span class="md-list-heading">
                  {% if division.created %}{{ division.created|date('d M Y') }}{% endif %}
                </span>
                <span class="uk-text-small uk-text-muted">{{ 'author.updated'|trans }}</span>
              </div>
            </li>
            <li>
              <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons">&#xE8B5;</i>
              </div>
              <div class="md-list-content">
                <span class="md-list-heading">
                  {% if division.created %}{{ division.created|date('d M Y') }}{% endif %}
                </span>
                <span class="uk-text-small uk-text-muted">{{ 'author.created'|trans }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
