{% extends 'layout/base.html.twig' %}

{% block heading_actions %}
  <a href="{{ path('schooltestimonial_index') }}">
    <i class="md-icon material-icons">&#xE5C4;</i>
  </a>
  <a>
    <i class="md-icon material-icons">&#xE5C8;</i>
  </a>
{% endblock %}

{% block sticky_button %}
  <a class="md-fab md-fab-primary" href="{{ path('schooltestimonial_edit', { 'id': schoolTestimonial.id }) }}">
    <i class="material-icons">&#xE254;</i>
  </a>
{% endblock %}

{% block title_page %}
  {{ 'schooltestimonial.show.title'|trans }}
{% endblock %}

{% block body %}
  <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
    <div class="uk-width-xLarge-4-10 uk-width-large-4-10">
      <div class="md-card">
        <div class="md-card-toolbar">
          <h3 class="md-card-toolbar-heading-text">
            {{ 'schooltestimonial.show.photo'|trans }}
          </h3>
        </div>
        <div class="md-card-content">
          <div class="uk-margin-bottom uk-text-center">
            <img src="{{ vich_uploader_asset(schoolTestimonial, 'imageFile') }}" alt="{{ schoolTestimonial.imageName }}" class="img_large"/>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-width-xLarge-6-10 uk-width-large-6-10">
      <div class="md-card">
        <div class="md-card-toolbar">
          <h3 class="md-card-toolbar-heading-text">
            {{ 'schooltestimonial.show.detail'|trans }}
          </h3>
        </div>
        <div class="md-card-content">
          <ul class="md-list">

            <li>
              <div class="md-list-content">
                <span class="md-list-heading uk-text-large">{{ schoolTestimonial.title }}</span>
              </div>
              <span class="uk-text-small uk-text-muted uk-display-block">
                {{'schooltestimonial.field.title'|trans }}</span>
            </li>
            <li>
              <div class="md-list-content">
                <span class="md-list-heading uk-text-large">{{ schoolTestimonial.subtitle }}</span>
              </div>
              <span class="uk-text-small uk-text-muted uk-display-block">
                {{'schooltestimonial.field.subtitle'|trans }}</span>
            </li>
            <li>
              <div class="md-list-content">
                <span class="md-list-heading uk-text-large">{{ schoolTestimonial.text }}</span>
              </div>
              <span class="uk-text-small uk-text-muted uk-display-block">
                {{'schooltestimonial.field.text'|trans }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="md-card">
        <div class="md-card-toolbar">
          <h3 class="md-card-toolbar-heading-text">
            {{ 'author.info'|trans }}
          </h3>
        </div>
        <div class="md-card-content">
          <ul class="md-list md-list-addon">
            <li>
              <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons">&#xE7FD;</i>
              </div>
              <div class="md-list-content">
                <span class="md-list-heading">{{ schoolTestimonial.user.username }}</span>
                <span class="uk-text-small uk-text-muted">{{ 'author.creator'|trans }}</span>
              </div>
            </li>
            <li>
              <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons">&#xE8DF;</i>
              </div>
              <div class="md-list-content">
                <span class="md-list-heading">
                  {% if schoolTestimonial.created %}{{ schoolTestimonial.created|date('d M Y') }}{% endif %}
                </span>
                <span class="uk-text-small uk-text-muted">{{ 'author.updated'|trans }}</span>
              </div>
            </li>
            <li>
              <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons">&#xE8B5;</i>
              </div>
              <div class="md-list-content">
                <span class="md-list-heading">
                  {% if schoolTestimonial.created %}{{ schoolTestimonial.created|date('d M Y') }}{% endif %}
                </span>
                <span class="uk-text-small uk-text-muted">{{ 'author.created'|trans }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endblock %}
