{% extends "@SNSBundlesSNS/layout.html.twig" %}

{% block body %}  
	<div id="page_content">
        <div id="page_content_inner">
            <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
                <div class="uk-width-large-7-10">
                    <div class="md-card">
                        <div class="user_heading">
                            <div class="user_heading_avatar">
                                <div class="thumbnail">
                                    <img src="{{ asset('bundles/snsbundlesuser/img/avatar.png') }}" alt="user avatar"/>
                                </div>
                            </div>
                            <div class="user_heading_content">
                                <h2 class="heading_b uk-margin-bottom">
                                	<span class="uk-text-truncate">{{ user.username }}</span>
                                	<span class="sub-heading">{{ user.email }}</span></h2>
                            </div>
                            <a class="md-fab md-fab-small md-fab-accent hidden-print" href="{{ url('setting')}}">
                                <i class="material-icons">&#xE150;</i>
                            </a>
                        </div>
                        <div class="user_content">
                            <ul id="user_profile_tabs" class="uk-tab" data-uk-tab="{connect:'#user_profile_tabs_content', animation:'slide-horizontal'}" data-uk-sticky="{ top: 48, media: 960 }">
                                <li class="uk-active"><a href="#">{{ "profile.section.about"|trans }}</a></li>
                                <li><a href="#">{{ "profile.section.activity"|trans }}</a></li>
                            </ul>
                            <ul id="user_profile_tabs_content" class="uk-switcher uk-margin">
                                
                                <li>
                                	<h3 class="full_width_in_card heading_c">{{ "profile.view.general_info"|trans }}</h3>
                                	<div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
	                                	<div class="uk-width-large-1-2">
		                                    <ul class="md-list md-list-addon">
		                                        <li>
		                                        	<div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE892;</i>
                                                    </div>
		                                            <div class="md-list-content">
		                                                <span class="md-list-heading">{{ user.firstName|default("user.empty"|trans) }}</span>
		                                                <span class="uk-text-small uk-text-muted">
		                                                	{{ "user.first_name"|trans }}
		                                                </span>
		                                                
		                                            </div>
		                                        </li>
		                                    </ul>
		                                </div>
		                                <div class="uk-width-large-1-2">
		                                    <ul class="md-list md-list-addon">
		                                        <li>
		                                        	<div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE892;</i>
                                                    </div>
		                                            <div class="md-list-content">
		                                                <span class="md-list-heading">{{ user.lastName|default("user.empty"|trans) }}</span>
		                                                <span class="uk-text-small uk-text-muted">{{ "user.last_name"|trans }}</span>
		                                                
		                                            </div>
		                                        </li>
		                                    </ul>
		                                </div>
		                                <div class="uk-width-large-1-1">
			                                <ul class="md-list md-list-addon">
		                                        <li>
		                                            <div class="md-list-content">
		                                            	<div class="md-list-addon-element">
	                                                        <i class="md-list-addon-icon material-icons">&#xE14F;</i>
	                                                    </div>
				                                        <span class="md-list-heading">
				                                        	{{ user.about|default("user.empty"|trans) }}
				                                        </span>
				                                        <span class="uk-text-small uk-text-muted">{{ "user.about"|trans }} </span>
				                                    </div>  
		                                        </li>
		                                    </ul>
		                                </div>
		                            </div>
                                    
                                    <h3 class="full_width_in_card heading_c">{{ "profile.view.contact_info"|trans }}</h3>                               
                                    <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>

                                        <div class="uk-width-large-1-2">
                                            
                                            <ul class="md-list md-list-addon">
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE158;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{ user.email|default("user.empty"|trans) }}</span>
                                                        <span class="uk-text-small uk-text-muted">{{ "user.email"|trans }}</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-facebook-official"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{ user.facebook|default("user.empty"|trans) }}</span>
                                                        <span class="uk-text-small uk-text-muted">{{ "user.facebook"|trans }}</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="uk-width-large-1-2">
                                            <ul class="md-list md-list-addon">
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{ user.phone|default("user.empty"|trans) }}</span>
                                                        <span class="uk-text-small uk-text-muted">{{ "user.phone"|trans }}</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-twitter"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">{{ user.twitter|default("user.empty"|trans) }}</span>
                                                        <span class="uk-text-small uk-text-muted">{{ "user.twitter"|trans }}</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline">
                                        <div class="timeline_item">
                                            <div class="timeline_icon timeline_icon_success"><i class="material-icons">&#xE85D;</i></div>
                                            <div class="timeline_date">
                                                09 <span>Oct</span>
                                            </div>
                                            <div class="timeline_content">Created ticket <a href="#"><strong>#3289</strong></a></div>
                                        </div>
                                        <div class="timeline_item">
                                            <div class="timeline_icon timeline_icon_danger"><i class="material-icons">&#xE5CD;</i></div>
                                            <div class="timeline_date">
                                                15 <span>Oct</span>
                                            </div>
                                            <div class="timeline_content">Deleted post <a href="#"><strong>Et quia nisi omnis.</strong></a></div>
                                        </div>
                                        <div class="timeline_item">
                                            <div class="timeline_icon"><i class="material-icons">&#xE410;</i></div>
                                            <div class="timeline_date">
                                                19 <span>Oct</span>
                                            </div>
                                            <div class="timeline_content">
                                                Added photo
                                                <div class="timeline_content_addon">
                                                    <img src="assets/img/gallery/Image16.jpg" alt=""/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline_item">
                                            <div class="timeline_icon timeline_icon_primary"><i class="material-icons">&#xE0B9;</i></div>
                                            <div class="timeline_date">
                                                21 <span>Oct</span>
                                            </div>
                                            <div class="timeline_content">
                                                New comment on post <a href="#"><strong>Autem temporibus reprehenderit aspernatur illum.</strong></a>
                                                <div class="timeline_content_addon">
                                                    <blockquote>
                                                        Neque omnis rerum dignissimos qui odio sunt nesciunt quos aut similique sint sunt quo at accusantium tempora dolores culpa omnis omnis ut accusamus et error consequatur.&hellip;
                                                    </blockquote>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline_item">
                                            <div class="timeline_icon timeline_icon_warning"><i class="material-icons">&#xE7FE;</i></div>
                                            <div class="timeline_date">
                                                29 <span>Oct</span>
                                            </div>
                                            <div class="timeline_content">
                                                Added to Friends
                                                <div class="timeline_content_addon">
                                                    <ul class="md-list md-list-addon">
                                                        <li>
                                                            <div class="md-list-addon-element">
                                                                <img class="md-user-image md-list-addon-avatar" src="assets/img/avatars/avatar_02_tn.png" alt=""/>
                                                            </div>
                                                            <div class="md-list-content">
                                                                <span class="md-list-heading">Carmela Lindgren</span>
                                                                <span class="uk-text-small uk-text-muted">Ut sit commodi ratione blanditiis.</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-large-3-10 hidden-print">
                    <div class="md-card">
                        <div class="md-card-content">
                            <h3 class="heading_c uk-margin-bottom">{{ "profile.view.friends"|trans }}</h3>
                            <ul class="md-list md-list-addon uk-margin-bottom">
                                <li>
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" src="assets/img/avatars/avatar_02_tn.png" alt=""/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Jovani Kris MD</span>
                                        <span class="uk-text-small uk-text-muted">Molestias magni ab aut quisquam enim.</span>
                                    </div>
                                </li>
                            </ul>
                            <a class="md-btn md-btn-flat md-btn-flat-primary" href="#">{{ "profile.view.show_all"|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}