{% extends 'frontLayout/base.html.twig' %}
{% block body %}
  <!-- start revolution slider 5.0 -->
  <section class="rev_slider_wrapper">
    <div class="rev_slider matrox-slider">
      <ul>
        {% for slider in sliders %}
          <!-- slide 1 start -->
          <li
            data-transition="fade"
            data-slotamount="default"
            data-easein="Power4.easeInOut"
            data-easeout="Power4.easeInOut"
            data-masterspeed="2000"
            data-rotate="0"
            data-fstransition="fade"
            data-fsmasterspeed="1500"
            data-fsslotamount="7"
            data-saveperformance="on"
            data-title="{{ slider.title }}"
            data-description="">

            <!-- MAIN IMAGE -->
            <img src="{{ vich_uploader_asset(slider, 'imageFile') }}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

            <!-- LAYER NR. 1 -->
            <div
              class="tp-caption rev-heading text-extrabold dark-text tp-resizeme"
              data-x="center"
              data-y="center"
              data-voffset="-50"
              data-fontsize="['60','60','60','45']"
              data-lineheight="['60','60','60','50']"
              data-width="none"
              data-height="none"
              data-whitespace="nowrap"
              data-transform_idle="o:1;"
              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
              data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
              data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
              data-start="800"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on"
              style="z-index: 5; white-space: nowrap;">
              {{ slider.title }}
            </div>

            <!-- LAYER NR. 2 -->
            <div
              class="tp-caption tp-resizeme rev-subheading  dark-text text-center"
              data-x="center"
              data-y="center"
              data-voffset="30"
              data-whitespace="nowrap"
              data-transform_idle="o:1;"
              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power4.easeInOut;"
              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
              data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
              data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
              data-start="1000"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on"
              style="z-index: 6; white-space: nowrap;">
              {{ slider.subtitle }}
            </div>

          </li>
          <!-- slide 1 end -->
        {% endfor %}
      </ul>
    </div>
    <!-- end revolution slider -->
  </section>
  <!-- end of slider wrapper -->

  <section id="#about" class="section-padding">
    <div class="container">

      <div class="text-center mb-80">
        <h2 class="section-title text-uppercase">{{'about.title'|trans}}</h2>
        <p class="section-sub">{{ "about.title_sub"|trans }}</p>
      </div>

      <div class="row">
        <div class="col-md-12">

          <div class="icon-tab">

            <!-- Nav tabs -->
            <div class="text-center">
              <ul class="nav nav-pills" role="tablist">
                {% for about in aboutus %}
                <li role="presentation " class=" {% if loop.first %}active{% endif %}">
                  <a href="#icontab-{{ about.id }}" class="waves-effect waves-light" role="tab" data-toggle="tab">
                    <i class="material-icons">{{ about.icon|raw }}</i>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>

            <!-- Tab panes -->
            <div class="panel-body mt-40">
              <div class="tab-content">
                {% for about in aboutus %}
                <div role="tabpanel" class="tab-pane {% if loop.first %}active{% endif %}" id="icontab-{{ about.id }}">
                  <div class="row">
                    <div class="col-md-8">
                      <h2 class="text-bold mb-40">{{ about.title }}</h2>
                      <p>{{ about.text }}</p>
                    </div>

                    <div class="col-md-4">
                      <img src="{{ vich_uploader_asset(about, 'imageFile') }}" alt="{{ about.title }}" class="img-responsive">
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>

          </div>
          <!-- /.icon-tab -->

        </div>
        <!-- /.col-md-12 -->
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
  </section>
  <section id="#feature" class="section-padding gray-bg">
    <div class="container">

      <div class="text-center mb-80 wow fadeInUp"  data-wow-delay=".6s">
        <h2 class="section-title text-uppercase">{{ "feature.title"|trans }}</h2>
        <p class="section-sub">{{ "feature.title_sub"|trans }}</p>
      </div>
      <div class="row equal-height-row">
        {% for feature in features %}
          <!-- /.col-md-4 -->
          <div class="col-md-4 mb-30">
            <!-- featured-item -->
            <div class="featured-item border-box radius-4 hover brand-hover equal-height-column">
              <div class="icon mb-30">
                <i class="material-icons brand-icon">{{ feature.icon|raw }}</i>
              </div>
              <div class="desc">
                <h2>{{ feature.title }}</h2>
                <p>{{ feature.text }}</p>
              </div>
            </div>
            <!-- /.featured-item -->
          </div>
          <!-- /.col-md-4 -->
        {% endfor %}
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
  </section>

  <section id="count3" class="facts-two">
    <div class="container">

      <div class="row text-center">
        <div class="col-sm-3 counter-wrap">
          <i class="material-icons brand-color">&#xE80C;</i>
          <span class="timer">1545</span>
          <span class="count-description">{{ "count.student"|trans }}</span>
        </div>
        <!-- /.col-sm-3 -->

        <div class="col-sm-3 counter-wrap">
          <i class="material-icons brand-color">&#xE91E;</i>
          <span class="timer">535</span>
          <span class="count-description">{{ "count.parent"|trans }}</span>
        </div>
        <!-- /.col-sm-3 -->

        <div class="col-sm-3 counter-wrap">
          <i class="material-icons brand-color">&#xE7EF;</i>
          <span class="timer">544</span>
          <span class="count-description">{{ "count.professor"|trans }}</span>
        </div>
        <!-- /.col-sm-3 -->

        <div class="col-sm-3 counter-wrap">
          <i class="material-icons brand-color">&#xE7F1;</i>
          <span class="timer">111</span>
          <span class="count-description">{{ "count.establishment"|trans }}</span>
        </div>
        <!-- /.col-sm-3 -->
      </div>
    </div>
    <!-- /.container -->
  </section>

  <section id="#pricing" class="section-padding gray-bg">
    <div class="container">
      <div class="text-center mb-80">
        <h2 class="section-title text-uppercase">{{ "pricing_table.title"|trans }}</h2>
        <p class="section-sub">{{ "pricing_table.title_sub"|trans }}</p>
      </div>
      <div class="row">
        {% for pricing in pricings %}
        <div class="col-md-4">
          <div class="pricing-table">
            <div class="table-contents text-center">
              <div class="table-header brand-hover">
                <div class="package-name">
                  <span>{{pricing.pricingName}}</span>
                </div>

                <div class="package-price">
                  <span class="price">{{ pricing.Price }}</span>
                  <span class="currency-symbol">{{ "pricing.currency"|trans }}</span>
                  <span class="currency-code">{{ pricing.unitPrice }}</span>
                </div>
              </div>
              <!-- /.table-header -->

              <div class="table-info">
                <ul>
                  {% for pricingFeature in pricing.pricingFeature %}
                    {% if pricingFeature.state %}
                      <li>{{ pricingFeature.text }}</li>
                    {% else %}
                      <li>
                        <del>{{ pricingFeature.text }}</del>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
              <!-- /.table-info -->
              <div class="table-footer">
                <div class="purchase-button">
                  <a href="{{ path('contact_page') }}" class="btn btn-lg text-capitalize waves-effect waves-light">{{ "pricing.buy"|trans }}</a>
                </div>
              </div>
              <!-- /.table-footer -->
            </div>
            <!-- /.table-contents -->
          </div>
          <!-- /.pricing-table -->
        </div>
        <!-- /.col-md-4 -->
        {% endfor %}
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->

  </section>

  <section id="#testimonial" class="section-padding">
    <div class="container">
      <div class="text-center mb-80  wow fadeInUp" data-wow-delay=".6s">
        <h2 class="section-title text-uppercase">{{ "testimonial.title"|trans }}</h2>
        <p class="section-sub">{{ "testimonial.title_sub"|trans }}</p>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <div class="thumb-carousel circle-thumb text-center">
            <ul class="slides">
              {% for testimonial in testimonials %}
              <li data-thumb="{{ vich_uploader_asset(testimonial, 'imageFile') }}">
                <div class="icon">
                  <img src="{{ asset('asset/img/quote-dark.png') }}" alt="{{ testimonial.title }}">
                </div>
                <div class="content">
                  <p>{{ testimonial.text }}</p>

                  <div class="testimonial-meta">
                    {{ testimonial.title }},
                    <span>{{ testimonial.subtitle }}</span>
                  </div>
                </div>
                {% endfor %}
              </li>

            </ul>
          </div>

        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
  </section>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('asset/js/jquery.stellar.min.js')}}"></script>
  <script src="{{ asset('asset/js/jquery.inview.min.js')}}"></script>
  <script src="{{ asset('asset/js/jquery.shuffle.min.js')}}"></script>
  <script src="{{ asset('asset/js/wow.min.js')}}"></script>
  <script src="{{ asset('asset/js/bootstrap-tabcollapse.min.js')}}"></script>
  <script src="{{ asset('asset/owl.carousel/owl.carousel.min.js')}}"></script>
  <script src="{{ asset('asset/flexSlider/jquery.flexslider-min.js')}}"></script>
  <script src="{{ asset('asset/magnific-popup/jquery.magnific-popup.min.js')}}"></script>

  <!-- RS5.0 Core JS Files -->
  <script src="{{ asset('asset/revolution/js/jquery.themepunch.tools.min.js')}}"></script>
  <script src="{{ asset('asset/revolution/js/jquery.themepunch.revolution.min.js')}}"></script>

  <!-- RS5.0 Init  -->
  <script type="text/javascript">
      jQuery(document).ready(function() {
         jQuery(".matrox-slider").revolution({
              sliderType:"standard",
              sliderLayout:"fullscreen",
              delay:9000,
              lazyLoad:"on",
              navigation: {
                  keyboardNavigation: "on",
                  keyboard_direction: "horizontal",
                  mouseScrollNavigation: "off",
                  onHoverStop: "off",
                  touch: {
                      touchenabled: "on",
                      swipe_threshold: 75,
                      swipe_min_touches: 1,
                      swipe_direction: "horizontal",
                      drag_block_vertical: false
                  },
                  arrows: {
                      style: "gyges",
                      enable: true,
                      hide_onmobile: false,
                      hide_onleave: true,
                      tmp: '',
                      left: {
                          h_align: "left",
                          v_align: "center",
                          h_offset: 10,
                          v_offset: 0
                      },
                      right: {
                          h_align: "right",
                          v_align: "center",
                          h_offset: 10,
                          v_offset: 0
                      }
                  }
              },
              responsiveLevels:[1240,1024,778,480],
              gridwidth:[1240,1024,778,480],
              gridheight:[700,600,500,500],
              disableProgressBar:"on",
              parallax: {
                  type:"mouse",
                  origo:"slidercenter",
                  speed:2000,
                  levels:[2,3,4,5,6,7,12,16,10,50],
              }

          });
      });
      $('#count3').on('inview', function(event, visible, visiblePartX, visiblePartY) {
      if (visible) {
          $(this).find('.timer').each(function () {
              var $this = $(this);
              $({ Counter: 0 }).animate({ Counter: $this.text() }, {
                  duration: 2000,
                  easing: 'swing',
                  step: function () {
                      $this.text(Math.ceil(this.Counter));
                  }
              });
          });
          $(this).off('inview');
      }
  });
  </script>
{% endblock %}
