{% extends 'layout/base.html.twig' %}

{% block heading_actions %}
  <a href="{{ path('provider_index') }}">
    <i class="md-icon material-icons">&#xE5C4;</i>
  </a>
  <a href="{{ path('provider_new') }}">
    <i class="md-icon material-icons">&#xE5C8;</i>
  </a>
{% endblock %}

{% block sticky_button %}
  <a class="md-fab md-fab-primary" href="{{ path('provider_edit', { 'id': provider.id }) }}">
    <i class="material-icons">&#xE254;</i>
  </a>
{% endblock %}

{% block title_page %}
  {{ 'provider.show.title'|trans }}
{% endblock %}

{% block body %}
  <div class="uk-grid uk-grid-medium" data-uk-grid-margin>

    <div class="uk-width-xLarge-8-10  uk-width-large-7-10">
      <div class="md-card">
        <div class="md-card-toolbar">
          <h3 class="md-card-toolbar-heading-text">
            {{ 'provider.show.detail'|trans }}
          </h3>
        </div>
        <div class="md-card-content">
          <div class="uk-grid uk-grid-divider uk-margin-small-top uk-grid-medium" data-uk-grid-margin>
            <div class="uk-width-large-1-2">
              <ul class="md-list">
                <li>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">{{ provider.socialReason }}</span>
                  </div>
                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{'provider.field.socialReason'|trans }}</span>
                </li>
                <li>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">{{ provider.phone }}</span>
                  </div>
                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{'provider.field.phone'|trans }}</span>
                </li>
                <li>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">{{ provider.address }}</span>
                  </div>
                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{'provider.field.address'|trans }}</span>
                </li>
              </ul>
            </div>
            <div class="uk-width-large-1-2">
              <ul class="md-list">
                <li>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">{{ provider.fax }}</span>
                  </div>
                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{'provider.field.fax'|trans }}</span>
                </li>
                <li>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">{{ provider.email }}</span>
                  </div>
                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{'provider.field.email'|trans }}</span>
                </li>
              </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="uk-width-xLarge-2-10 uk-width-large-3-10">
        <div class="md-card">
          <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
              {{ 'author.info'|trans }}
            </h3>
          </div>
          <div class="md-card-content">
            <ul class="md-list md-list-addon">
              <li>
                <div class="md-list-addon-element">
                  <i class="md-list-addon-icon material-icons">&#xE7FD;</i>
                </div>
                <div class="md-list-content">
                  <span class="md-list-heading">{{ provider.user.username }}</span>
                  <span class="uk-text-small uk-text-muted">{{ 'author.creator'|trans }}</span>
                </div>
              </li>
              <li>
                <div class="md-list-addon-element">
                  <i class="md-list-addon-icon material-icons">&#xE8DF;</i>
                </div>
                <div class="md-list-content">
                  <span class="md-list-heading">
                    {% if provider.created %}{{ provider.created|date('d M Y') }}{% endif %}
                  </span>
                  <span class="uk-text-small uk-text-muted">{{ 'author.updated'|trans }}</span>
                </div>
              </li>
              <li>
                <div class="md-list-addon-element">
                  <i class="md-list-addon-icon material-icons">&#xE8B5;</i>
                </div>
                <div class="md-list-content">
                  <span class="md-list-heading">
                    {% if provider.created %}{{ provider.created|date('d M Y') }}{% endif %}
                  </span>
                  <span class="uk-text-small uk-text-muted">{{ 'author.created'|trans }}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
