{% extends 'layout/base_header_double_height.html.twig' %}

{% block body %}
  <div class="uk-width-medium-8-10 uk-container-center">
    <div class="md-card md-card-single">
      <div class="md-card-toolbar">
        <a href="{{ path('payment_index') }}">
          <span class="md-icon md-card-fullscreen-deactivate material-icons uk-float-left">&#xE5C4;</span>
        </a>
        <h3 class="md-card-toolbar-heading-text large uk-margin-small-left">
          {{ 'payment.new.title'|trans }}
          (
          {{ student }}
          )
        </h3>
      </div>
      <div class="md-card-content">

        <div class="">
          {{ form_start(form) }}

          <div class="uk-grid uk-grid-medium uk-grid-width-medium-1-2 uk-grid-width-large-1-2" data-uk-grid-margin data-uk-grid-match="{target:'.uk-form-row'}">
            <div>
              <div class="uk-form-row">
                {{ form_widget(form.month)}}
                <span class="uk-form-help-block uk-form-label">{{ form_label(form.month) }}</span>
                <div class="parsley-errors-list filled uk-text-danger">
                  {{ form_errors(form.month) }}
                </div>
              </div>
            </div>
            <div>
              <div class="uk-form-row">
                {{ form_widget(form.paymentType)}}
                <span class="uk-form-help-block uk-form-label">{{ form_label(form.paymentType) }}</span>
                <div class="parsley-errors-list filled uk-text-danger">
                  {{ form_errors(form.paymentType) }}
                </div>
              </div>
            </div>

            <div id="paid">
              <div class="uk-form-row">
                <div class="md-input-wrapper md-input-wrapper-disabled">
                  <label class="uk-form-label">{{ form_label(form.paid) }}</label>
                  {{ form_widget(form.paid)}}
                </div>
                <div class="parsley-errors-list">
                  {{ form_errors(form.paid) }}
                </div>
              </div>
            </div>
            <div id="credit">
              <div class="uk-form-row">
                <div class="md-input-wrapper md-input-wrapper-disabled">
                  <label class="uk-form-label">{{ form_label(form.credit) }}</label>
                  {{ form_widget(form.credit)}}
                </div>
                <div class="parsley-errors-list">
                  {{ form_errors(form.credit) }}
                </div>
              </div>
            </div>
            <div>
              <div class="uk-form-row  uk-input-group">
                <label class="uk-form-label">{{ form_label(form.price) }}</label>
                {{ form_widget(form.price)}}
                <div class="parsley-errors-list">
                  {{ form_errors(form.price) }}
                </div>
                <span class="uk-input-group-addon" style="{{ form_errors(form.price)|length > 2 ? " " : " vertical-align: bottom;"}}">

                  <div class="uk-text-bold">
                    <span class="uk-text-large uk-text-bold" id="price"></span>
                    {{ "payment.unit.price"|trans }}
                  </div>
                </span>
              </div>
            </div>
          </div>
          {{ form_widget(form) }}

          {{ form_end(form) }}
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% include '@SMSPayment/payment/new_edit_payment.html.twig' %}
{% endblock %}
