{% extends 'layout/base_header_double_height.html.twig' %}

{% block body %}
  <div class="uk-width-medium-8-10 uk-container-center">
    <div class="md-card md-card-single">
      <div class="md-card-toolbar">
        <a href="{{ path('payment_index') }}">
          <span class="md-icon md-card-fullscreen-deactivate material-icons uk-float-left">&#xE5C4;</span>
        </a>
        <h3 class="md-card-toolbar-heading-text large uk-margin-small-left">
          {{ 'payment.new.title'|trans }}
        </h3>
      </div>
      <div class="md-card-content ">
        <h2 class="heading_c full_width_in_card">{{ 'student.show.title'|trans }}</h2>
        <div class="uk-grid uk-margin-medium-top" data-uk-grid-margin>
          <div class="uk-width-large-1-2">
            <ul class="md-list">
              <li>
                <div class="md-list-content">

                  <span class="md-list-heading uk-text-large">{{ student.firstName }}</span>
                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{'student.field.firstName'|trans }}</span>
                </div>
              </li>
              <li>
                <div class="md-list-content">

                  <span class="md-list-heading uk-text-large">{{ student.gender|trans }}</span>
                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{'student.field.gender'|trans }}</span>
                </div>
              </li>

            </ul>
          </div>
          <div class="uk-width-large-1-2">
            <ul class="md-list">
              <li>
                <div class="md-list-content">

                  <span class="md-list-heading uk-text-large">{{ student.lastName }}</span>
                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{'student.field.lastName'|trans }}</span>
                </div>
              </li>
              <li>
                <div class="md-list-content">

                  <span class="md-list-heading uk-text-large">
                    {% if student.birthday %}{{ student.birthday|date('d/m/Y') }}{% endif %}
                  </span>
                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{'student.field.birthday'|trans }}</span>
                </div>
              </li>
            </ul>
          </div>

        </div>
        <div class="uk-margin-medium-top">
          <h2 class="heading_c full_width_in_card">{{ 'payment.show.title'|trans }}</h2>
          {{ form_start(form) }}

          <div class="uk-grid uk-margin-medium-top" data-uk-grid-margin>
            <div class="uk-width-large-1-2">
              <div class="uk-form-row">
                {{ form_widget(form.month)}}
                <span class="uk-form-help-block uk-form-label">{{ form_label(form.month) }}</span>
                <div class="parsley-errors-list filled uk-text-danger">
                  {{ form_errors(form.month) }}
                </div>
              </div>
              <div class="uk-form-row uk-input-group">
                <label class="uk-form-label">{{ form_label(form.price) }}</label>
                {{ form_widget(form.price)}}
                <div class="parsley-errors-list">
                  {{ form_errors(form.price) }}
                </div>
                <span class="uk-input-group-addon" style="{{ form_errors(form.price)|length > 2 ? "" : "vertical-align: bottom;"}}">

                  <div class="uk-text-bold">
                    <span class="uk-text-large uk-text-bold" id="price"></span>
                    {{ "payment.unit.price"|trans }}
                  </div>
                </span>

              </div>
            </div>
            <div class="uk-width-large-1-2">
              <div class="uk-form-row">
                {{ form_widget(form.paymentType)}}
                  <span class="uk-form-help-block uk-form-label">{{ form_label(form.paymentType) }}</span>
                <div class="parsley-errors-list filled uk-text-danger">
                  {{ form_errors(form.paymentType) }}
                </div>
              </div>
            </div>
          </div>
          {{ form_widget(form) }}

          {{ form_end(form) }}
        </div>
      </div>

    </div>
  </div>
</div>
</div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
  {% include '@SMSPayment/payment/paymentTypePrice.html.twig' %}
{% endblock %}
