{% extends 'layout/base.html.twig' %}

{% block heading_actions %}
  <a href="{{ path('payment_index') }}">
    <i class="md-icon material-icons">&#xE5C4;</i>
  </a>
  <a href="{{ path('payment_pdf', { 'id': payment.id }) }}">
    <i class="md-icon material-icons">&#xE8AD;</i>
  </a>
{% endblock %}

{% block sticky_button %}
  <a class="md-fab md-fab-primary" href="{{ path('payment_edit', { 'id': payment.id }) }}">
    <i class="material-icons">&#xE254;</i>
  </a>
{% endblock %}

{% block title_page %}
  {{ 'payment.show.title'|trans }}
{% endblock %}

{% block body %}
  <div class="uk-grid uk-grid-medium" data-uk-grid-margin>

    <div class="uk-width-xLarge-8-10  uk-width-large-7-10">
      <div class="md-card">
        <div class="md-card-toolbar">
          <h3 class="md-card-toolbar-heading-text">
            {{ 'payment.show.detail'|trans }}
          </h3>
        </div>
        <div class="md-card-content">
          <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
            <div class="uk-width-medium-1-2 uk-row-first">
              <ul class="md-list ">
              <ul class="md-list md-list-addon">
                <li>
                  <a href="{{ path("student_show" , { "id" : payment.student.id }) }}" class="md-list-addon-element">
                      <i class="md-list-addon-icon material-icons">&#xE417;</i>
                  </a>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">{{ payment.student }}</span>
                  </div>
                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{'payment.field.student'|trans }}</span>
                </li>
                <li>
                  <div class="md-list-addon-element">
                      <i class="md-list-addon-icon material-icons">&#xE8F5;</i>
                  </div>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">{{ payment.student.section.grade.gradeName }}
                    </span>
                  </div>
                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{'payment.field.student.grade'|trans }}</span>
                </li>
                <li>
                  <div class="md-list-addon-element">
                      <i class="md-list-addon-icon material-icons">&#xE8F5;</i>
                  </div>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">{{ payment.student.section.sectionName }}
                    </span>
                  </div>
                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{'payment.field.student.section'|trans }}</span>
                </li>
                <li>
                  <a href="{{ path("studentparent_show" , { "id" : payment.student.studentParent.id }) }}" class="md-list-addon-element">
                      <i class="md-list-addon-icon material-icons">&#xE417;</i>
                  </a>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">{{ payment.student.studentParent }}
                      </span>
                  </div>
                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{'payment.field.student.parent'|trans }}</span>
                </li>
              </ul>
            </div>
            <div class="uk-width-medium-1-2">
              <ul class="md-list">
                <li>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">{{ payment.paymentType.TypepaymentName }}</span>
                  </div>
                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{'paymenttype.field.TypePaymentName'|trans }}</span>
                </li>
                <li>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">{{ payment.month|trans }}</span>
                  </div>
                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{'payment.field.month'|trans }}</span>
                </li>
                <li>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">{{ payment.price }}
                      {{ "payment.unit.price"|trans }}</span>
                  </div>
                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{'payment.field.price'|trans }}</span>
                </li>
                <li>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">{{ payment.credit }}
                      {{ "payment.unit.price"|trans }}</span>
                  </div>
                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{'payment.field.credit'|trans }}</span>
                </li>
                <li>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">{{ payment.paymentType.price }}
                      {{ "payment.unit.price"|trans }}</span>
                  </div>
                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{'payment.field.total'|trans }}</span>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="uk-width-xLarge-2-10 uk-width-large-3-10">
      <div class="md-card">
        <div class="md-card-toolbar">
          <h3 class="md-card-toolbar-heading-text">
            {{ 'author.info'|trans }}
          </h3>
        </div>
        <div class="md-card-content">
          <ul class="md-list md-list-addon">
            <li>
              <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons">&#xE7FD;</i>
              </div>
              <div class="md-list-content">
                <span class="md-list-heading">{{ payment.user.username }}</span>
                <span class="uk-text-small uk-text-muted">{{ 'author.creator'|trans }}</span>
              </div>
            </li>
            <li>
              <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons">&#xE8DF;</i>
              </div>
              <div class="md-list-content">
                <span class="md-list-heading">
                  {% if payment.created %}{{ payment.created|date('d M Y') }}{% endif %}
                </span>
                <span class="uk-text-small uk-text-muted">{{ 'author.updated'|trans }}</span>
              </div>
            </li>
            <li>
              <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons">&#xE8B5;</i>
              </div>
              <div class="md-list-content">
                <span class="md-list-heading">
                  {% if payment.created %}{{ payment.created|date('d M Y') }}{% endif %}
                </span>
                <span class="uk-text-small uk-text-muted">{{ 'author.created'|trans }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
