<script type="text/javascript">
  function show() {
    $.ajax({
      url: Routing.generate('paymenttype_registration_new' , { id : {{  paymentType.id }}}),
      type: "GET",
      cache: false,
      success: function(html) {
        $('#info').empty().append($(html).find('#info').html());
      }
    });
    $window.resize();
  }
  $(function() {
    $("#registered").on('click', function(event) {
      var length = $("input.student_datatable_multiselect_checkbox:checkbox:checked").length;
      var modal = UIkit.modal(".uk-modal");

      event.preventDefault();

      if (modal.isActive()) {
        modal.hide();
      }

      if (length > 0) {
        UIkit.modal.confirm("{{ 'datatables.bulk.confirmMsg'|trans({}, 'messages') }} ", function() {
          {% set token = csrf_token('multiselect') %}

          $.ajax({
            url: Routing.generate('paymenttype_registration_bulk_new', {id: {{ paymentType.id }} , registered : 1 }),
            type: "POST",
            cache: false,
            data: {
              'data': $("input:checkbox:checked.student_datatable_multiselect_checkbox", oTable.rows().nodes()).serializeArray(),
              'token': '{{ token }}'
            },
            success: function(msg) {
              new UIkit.notify({
                message: "<a href='#' class='notify-action'><span class='uk-icon-times'></span></a>" + msg,
                status: "error",
                timeout: 5000,
                group: null,
                pos: 'top-right'
              });
              show();
              // hide preloader
              altair_helpers.content_preloader_hide();
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              console.log(XMLHttpRequest + ' ' + textStatus + ' ' + errorThrown);
              new UIkit.notify({
                message: "<a href='#' class='notify-action'><span class='uk-icon-times'></span></a>" + textStatus,
                status: "error",
                timeout: 5000,
                group: null,
                pos: 'top-right'
              });
            }
          })
        });
      } else {
        UIkit.modal.alert("{{ 'datatables.bulk.selectError'|trans({}, 'messages') }}");
      }
    });
  });
  $("#not_registered").on('click', function(event) {
    var length = $("input.student_datatable_multiselect_checkbox:checkbox:checked").length;
    var modal = UIkit.modal(".uk-modal");

    event.preventDefault();

    if (modal.isActive()) {
      modal.hide();
    }

    if (length > 0) {
      UIkit.modal.confirm("{{ 'datatables.bulk.confirmMsg'|trans({}, 'messages') }} ", function() {
        {% set token = csrf_token('multiselect') %}

        $.ajax({
          url: Routing.generate('paymenttype_registration_bulk_new', {id: {{ paymentType.id }} , registered : 0 }),
          type: "POST",
          cache: false,
          data: {
            'data': $("input:checkbox:checked.student_datatable_multiselect_checkbox", oTable.rows().nodes()).serializeArray(),
            'token': '{{ token }}'
          },
          success: function(msg) {
            new UIkit.notify({
              message: "<a href='#' class='notify-action'><span class='uk-icon-times'></span></a>" + msg,
              status: "error",
              timeout: 5000,
              group: null,
              pos: 'top-right'
            });
            show();
            // hide preloader
            altair_helpers.content_preloader_hide();
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(XMLHttpRequest + ' ' + textStatus + ' ' + errorThrown);
            new UIkit.notify({
              message: "<a href='#' class='notify-action'><span class='uk-icon-times'></span></a>" + textStatus,
              status: "error",
              timeout: 5000,
              group: null,
              pos: 'top-right'
            });
          }
        })
      });
    } else {
      UIkit.modal.alert("{{ 'datatables.bulk.selectError'|trans({}, 'messages') }}");
    }
  });
</script>
