{% extends 'layout/base.html.twig' %}

{% block title_page %}
  {{ 'schedule.list.professor'|trans }}
{% endblock %}

{% block heading_actions %}
  <a id="page_print" data-uk-tooltip="{pos:'bottom'}" title="{{ 'action.print'|trans }}">
    <i class="material-icons">&#xE555;</i>
  </a>
{% endblock %}

{% block body %}
  <div class="filter md-card non-printable">
    <div class="md-card-content">
      {{ form_start(form) }}
      <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-4-10">
          <div class="uk-form-row">
            {{ form_widget(form.division)}}
            <div class="parsley-errors-list filled uk-text-danger">
              {{ form_errors(form.division) }}
            </div>
          </div>
        </div>
        <div class="uk-width-medium-4-10">
          <div class="uk-form-row">
            {{ form_widget(form.professor)}}
            <div class="parsley-errors-list filled uk-text-danger">
              {{ form_errors(form.professor) }}
            </div>
          </div>
        </div>
        <div class="uk-width-medium-2-10 uk-text-center uk-margin-small-top">
          {{ form_widget(form.save)}}
        </div>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
  <div id="schedules" class="uk-margin-medium-top">
    {% if result is defined %}
      <div id="schedule" class="md-card">
        <div class="md-card-content">
          <div class="uk-overflow-container">
            <table class="uk-table uk-table-hover uk-table-nowrap uk-table-align-vertical">
              <thead>
                <tr>
                  <th class="uk-width-1-10"></th>
                  {% for session in result.sessions %}
                    <th class="border-table uk-text-center md-bg-grey-100">
                      <h4 class="heading_d uk-margin-small-bottom">
                        {{ session.sessionName }}
                      </h4>
                      <p class="uk-margin-remove">
                        <i class="material-icons">&#xE425;</i>
                        {{ session.startTime|date('H:i:s') }}
                        <i class="material-icons">&#xE5C8;</i>
                        {{ session.endTime|date('H:i:s') }}
                      </p>
                    </th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for schedule in result.schedules %}
                  <tr>
                    <td class="uk-text-large border-table uk-text-capitalize uk-text-center">
                      {{schedule.day|trans }}
                    </td>
                    {% for session in schedule.sessions %}
                      {% if session.empty == true %}
                        <td class="uk-text-center uk-text-bold border-table">
                          --
                        </td>
                      {% else %}
                      <div class="uk-modal" id="{{session.scheduleId}}">
                        <div class="uk-modal-dialog non-printable">
                          <button type="button" class="uk-modal-close uk-close"></button>
                          <div class="uk-modal-header">
                            <h3 class="uk-modal-title">{{ 'schedule.delete.title'|trans }}</h3>
                          </div>
                          <p>{{ 'schedule.delete.message'|trans }}</p>
                          <div class="uk-modal-footer uk-text-right">
                            <button type="button" class="md-btn md-btn-flat uk-modal-close">{{ "schedule.modal.close"|trans }}</button>
                            <a href="{{ path('schedule_delete' , {'id' : session.scheduleId , 'token' : csrf_token('schedule_delete') })}}" class="md-btn md-btn-flat md-btn-flat-primary">{{ "schedule.delete.submit"|trans }}</a>
                          </div>
                        </div>
                      </div>
                        <td colspan="{{ session.colspan }}" class="border-table">
                          <ul class="md-list">
                            <li>
                              <div class="md-list-content">
                                <span class="md-list-heading">{{ session.courseName }}</span>
                                <span class="uk-text-small uk-text-muted">{{ "schedule_view.schedule.course"|trans }}</span>
                              </div>
                            </li>
                            <li>
                              <div class="md-list-content">
                                <span class="md-list-heading">{{ session.sectionName }}</span>
                                <span class="uk-text-small uk-text-muted">{{ "schedule_view.schedule.section"|trans }}</span>
                              </div>
                            </li>

                          </ul>
                        </td>
                      {% endif %}

                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
  $(document).on('submit', 'form', function(e) {
    e.preventDefault();
    // show preloader
    altair_helpers.content_preloader_show('md');
    var $form = $(this).closest('form');
    // Submit data via AJAX to the form's action path.
    $.ajax({
      url: $form.attr('action'),
      type: $form.attr('method'),
      data: $form.serializeObject(),
      cache: false,
      timeout: 3000,
      success: function(html) {
        console.log('hey');
        $('#schedules').empty().append($(html).find('#schedules').html());
        // Replace current position field ...
        $('.professorField').parent(".uk-form-row").find('.parsley-errors-list').empty().append($(html).find('.professorField').parent(".uk-form-row").find('.parsley-errors-list').html());
        altair_forms.init();
        // hide preloader
        altair_helpers.content_preloader_hide();
        // Position field now displays the appropriate positions.
      }
    });
  });
  </script>
{% endblock %}
