{% extends 'layout/base_no_header.html.twig' %}

{% block slider %}
<div id="top_bar">
        <div class="md-top-bar">
            <div class="uk-width-large-8-10 uk-container-center">
                <div class="uk-slidenav-position" data-uk-slider="{infinite: true}">
                    <div class="uk-slider-container">
                        <ul class="uk-slider uk-grid-width-small-1-{{ divisions|length}} top_bar_nav">

                          {% for division in divisions %}
                            <li class="{% if app.request.get('index') == loop.index0 %}uk-active{% endif %}">
                                <a href="{{ path('schedule_show' , { 'id' : id , 'index' : loop.index0 })}}">{{ division.divisionName|capitalize }}</a>
                            </li>
                          {% endfor %}

                        </ul>
                    </div>
                    <a href="#" class="uk-slidenav uk-slidenav-previous" data-uk-slider-item="previous"></a>
                    <a href="#" class="uk-slidenav uk-slidenav-next" data-uk-slider-item="next"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="schedules" class="uk-margin-medium-top">
        {% if sessions is defined and schedules is defined %}
        <div id="schedule" class="md-card">
            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-hover uk-table-nowrap uk-table-align-vertical">
                    <thead>
                        <tr>
                            <th class="uk-width-1-10"></th>
                            {% for session in sessions %}
                                <th class="border-table uk-text-center md-bg-grey-100">
                                    <h4 class="heading_d uk-margin-small-bottom">
                                        {{ session.sessionName }}
                                    </h4>
                                    <p class="uk-margin-remove">
                                        <i class="material-icons">&#xE425;</i>
                                        {{ session.startTime|date('H:i:s') }}
                                        <i class="material-icons">&#xE5C8;</i>
                                        {{ session.endTime|date('H:i:s') }}
                                    </p>
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for schedule in schedules %}
                            <tr>
                                <td class="uk-text-large border-table uk-text-capitalize uk-text-center">
                                    {{schedule.day|trans }}
                                 </td>
                                {% for session in schedule.sessions %}
                                    {% if session.empty == true %}
                                        <td class="uk-text-center uk-text-bold border-table">
                                            --
                                        </td>
                                    {% else %}
                                        <td colspan="{{ session.colspan }}" class="border-table">
                                          <ul class="md-list">
                                            <li>
                                              <div class="md-list-content">
                                                <span class="md-list-heading">{{ session.courseName }}</span>
                                                <span class="uk-text-small uk-text-muted">{{ "schedule_view.schedule.course"|trans }}</span>
                                              </div>
                                            </li>
                                            <li>
                                              <div class="md-list-content">
                                                <span class="md-list-heading">{{ session.professor }}</span>
                                                <span class="uk-text-small uk-text-muted">{{ "schedule_view.schedule.professor"|trans }}</span>
                                              </div>
                                            </li>
                                          </ul>

                                        </td>
                                    {% endif %}

                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
