{% extends 'layout/base_header_double_height.html.twig' %}

{% block body %}

  <div class="uk-width-medium-8-10 uk-container-center">
    <div class="md-card md-card-single">
      <div class="md-card-toolbar">
        <a href="{{ path('exam_index') }}">
          <span class="md-icon md-card-fullscreen-deactivate material-icons uk-float-left">&#xE5C4;</span>
        </a>
        <h3 class="md-card-toolbar-heading-text large uk-margin-small-left">
          {{ 'exam.edit.title'|trans }}
        </h3>
      </div>
      <div class="md-card-content">
        <div class="uk-grid uk-grid-divider uk-margin-medium-bottom" data-uk-grid-margin>
          <div class="uk-width-large-1-2">
            <ul class="md-list md-list-addon">
              <li>
                <div class="md-list-content">

                  <div class="md-list-addon-element">
                    <i class="md-list-addon-icon material-icons">&#xE80C;</i>
                  </div>
                  <span class="md-list-heading uk-text-large">{{'section.field.grade'|trans }}</span>

                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{ exam.section.grade.gradeName }}</span>
                </div>
              </li>
              <li>
                <div class="md-list-content">
                  <div class="md-list-addon-element">
                    <i class="md-list-addon-icon material-icons">&#xE865;</i>
                  </div>
                  <span class="md-list-heading uk-text-large">{{'exam.field.course'|trans }}
                    </span>
                </div>
                <span class="uk-text-small uk-text-muted uk-display-block">
                  {{ exam.course.courseName }}</span>
              </li>

            </ul>
          </div>
          <div class="uk-width-large-1-2">
            <ul class="md-list md-list-addon">
              <li>
                <div class="md-list-content">

                  <div class="md-list-addon-element">
                    <i class="md-list-addon-icon material-icons">&#xE80C;</i>
                  </div>
                  <span class="md-list-heading uk-text-large">{{'exam.field.section'|trans }}</span>

                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{ exam.section.sectionName }}</span>
                </div>
              </li>
              <li>
                <div class="md-list-content">

                  <div class="md-list-addon-element">
                    <i class="md-list-addon-icon material-icons">&#xE85D;</i>
                  </div>
                  <span class="md-list-heading uk-text-large">{{'exam.field.typeExam'|trans }}</span>

                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{ exam.typeExam.typeExamName }}</span>
                </div>
              </li>
            </ul>
          </div>

        </div>
        <div class="">
          {{ form_start(form) }}
          <div class="uk-form-row uk-input-group">
            <span class="uk-input-group-addon">
              <i class="md-list-addon-icon material-icons md-24">&#xE8CE;</i>
            </span>
            <label class="uk-form-label">{{ form_label(form.examName) }}</label>
            {{ form_widget(form.examName)}}
            <div class="parsley-errors-list filled uk-text-danger">
              {{ form_errors(form.examName) }}
            </div>
          </div>
          <div class="uk-form-row uk-input-group">
            <span class="uk-input-group-addon">
              <i class="md-list-addon-icon material-icons md-24">&#xE916;</i>
            </span>
            <label class="uk-form-label">{{ form_label(form.dateExam) }}</label>
            {{ form_widget(form.dateExam)}}
            <div class="parsley-errors-list filled uk-text-danger">
              {{ form_errors(form.dateExam) }}
            </div>
          </div>
          <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
            <div class="uk-width-1-2">
              <div class="uk-form-row uk-input-group">
                <span class="uk-input-group-addon">
                  <i class="md-list-addon-icon material-icons md-24">&#xE192;</i>
                </span>
                <label class="uk-form-label">{{ form_label(form.startTime) }}</label>
                {{ form_widget(form.startTime)}}
                <div class="parsley-errors-list filled uk-text-danger">
                  {{ form_errors(form.startTime) }}
                </div>
              </div>
            </div>
            <div class="uk-width-1-2">
              <div class="uk-form-row uk-input-group">
                <span class="uk-input-group-addon">
                  <i class="md-list-addon-icon material-icons md-24">&#xE192;</i>
                </span>
                <label class="uk-form-label">{{ form_label(form.endTime) }}</label>
                {{ form_widget(form.endTime)}}
                <div class="parsley-errors-list filled uk-text-danger">
                  {{ form_errors(form.endTime) }}
                </div>
              </div>
            </div>
            {{ form_widget(form) }}

            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
  {% endblock %}

  {% block javascripts %}
    {{ parent() }}
    {% include 'filter/grade_section_course_filter.html.twig' %}
  {% endblock %}
