{% extends 'layout/base_header_double_height.html.twig' %}

{% block body %}

<div class="uk-width-medium-2-3">
  <div class="uk-margin-medium-bottom uk-width-medium-3-3 uk-grid-width-large-2-2">
    <ul id="contact_list_filter" class="uk-subnav uk-subnav-pill uk-margin-remove">
      <li {% if pagination.isSorted('student.firstName') %} class="uk-active" {% endif %}>
        {{ knp_pagination_sortable(pagination, 'student.field.firstName'|trans , 'student.firstName') }}
      </li>
      <li {% if pagination.isSorted('student.lastName') %} class="uk-active" {% endif %}>
        {{ knp_pagination_sortable(pagination, 'student.field.lastName'|trans , 'student.lastName') }}
      </li>
      <li {% if pagination.isSorted('student.email') %} class="uk-active" {% endif %}>
        {{ knp_pagination_sortable(pagination, 'user.field.email'|trans , 'student.email') }}
      </li>
      <li {% if pagination.isSorted('student.phone') %} class="uk-active" {% endif %}>
        {{ knp_pagination_sortable(pagination, 'student.field.phone'|trans , 'student.phone') }}
      </li>

    </ul>
  </div>
  <!-- info cards -->
  {% if pagination is empty %}
    <div class="uk-alert uk-alert-large" data-uk-alert="">
      <h4 class="heading_b">{{ "search.result_not_found.title"|trans}}</h4>
      <p>
        <h4 class="heading_a">{{ "search.result_not_found.sub-title"|trans}} :</h4>
        {{ "search.result_not_found.text"|trans}}
      </p>
      </div>
  {% else %}
  <div class="uk-grid uk-grid-medium uk-grid-width-medium-1-2 uk-grid-width-large-1-3 hierarchical_show" data-uk-grid="{gutter: 20}" data-uk-grid-margin data-uk-grid-match="{target:'.md-card-content'}">

    {% for result in pagination %}
      <div>
        <div class="md-card">
          <div class="md-card-head md-bg-blue-700">
            <div class="md-card-head-menu" data-uk-dropdown="{pos:'bottom-right'}">
              <i class="md-icon material-icons md-icon-light">&#xE5D4;</i>
              <div class="uk-dropdown uk-dropdown-small">
                <ul class="uk-nav">
                  <li>
                    <a href="{{ path("user_payment_show" , { "id" : result.studentInfo.id })}}">{{ "payment.payment_info"|trans }}</a>
                  </li>
                  <li>
                    <a href="{{ path("payment_new" , { "id" : result.studentInfo.id })}}">{{ "payment.new.title"|trans }}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="uk-text-center">
              {% if result.studentInfo.imageName %}
                <img class="md-card-head-avatar" src="{{ vich_uploader_asset(result.studentInfo, 'imageFile') }}" alt="{{ result.studentInfo.imageName }}"/>
              {% else %}
                <img class="md-card-head-avatar md-bg-grey-50" src="{{ asset('assets/img/avatars/user@2x.png') }}" alt="user avatar"/>
              {% endif %}
            </div>
            <h3 class="md-card-head-text uk-text-center md-color-white">
              {{ result.studentInfo.firstName }}
              {{ result.studentInfo.lastName }}
              <span>{{ result.studentInfo.username }}</span>
            </h3>
          </div>
          <div class="md-card-content">
            <ul class="md-list">
              <li>
                <div class="md-list-content">
                  <span class="md-list-heading">{{ result.studentInfo.email }}</span>
                  <span class="uk-text-small uk-text-muted">{{'user.field.email'|trans }}</span>
                </div>
              </li>
              <li>
                <div class="md-list-content">
                  <span class="md-list-heading">{{ result.studentInfo.phone }}</span>
                  <span class="uk-text-small uk-text-muted">{{'studentparent.field.phone'|trans }}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="uk-margin-large-top uk-width-medium-3-3 uk-grid-width-large-2-2">
      {{ knp_pagination_render(pagination) }}
    </div>
  </div>
  {% endif %}
</div>
  {% endblock %}
