{% extends 'layout/base_header_double_height.html.twig' %}

{% block body %}

  <div class="uk-width-medium-8-10 uk-container-center">
    <div class="md-card md-card-single">
      <div class="md-card-toolbar">
        <a href="{{ path('exam_index') }}">
          <span class="md-icon md-card-fullscreen-deactivate material-icons uk-float-left">&#xE5C4;</span>
        </a>
        <h3 class="md-card-toolbar-heading-text large uk-margin-small-left">
          {{ 'exam.new.title'|trans }}
        </h3>
      </div>
      <div class="md-card-content">
        <div class="uk-margin-large-bottom">
          {{ form_start(form) }}
          <div class="uk-grid uk-margin-medium-bottom" data-uk-grid-margin>
            <div class="uk-width-1-2">
              <div class="uk-form-row">
                <label class="uk-form-label">{{ form_label(form.section) }}</label>
                {{ form_widget(form.section)}}
                <div class="parsley-errors-list filled uk-text-danger">
                  {{ form_errors(form.section) }}
                </div>
              </div>
            </div>
            <div class="uk-width-1-2">
              <div class="uk-form-row">
                <label class="uk-form-label">{{ form_label(form.typeExam) }}</label>
                {{ form_widget(form.typeExam)}}
                <div class="parsley-errors-list filled uk-text-danger">
                  {{ form_errors(form.typeExam) }}
                </div>
              </div>
            </div>
          </div>
          <div class="uk-form-row uk-input-group">
            <span class="uk-input-group-addon">
              <i class="md-list-addon-icon material-icons md-24">&#xE8CE;</i>
            </span>
            <label class="uk-form-label">{{ form_label(form.examName) }}</label>
            {{ form_widget(form.examName)}}
            <div class="parsley-errors-list filled uk-text-danger">
              {{ form_errors(form.examName) }}
            </div>
          </div>
          <div class="uk-form-row uk-input-group">
            <span class="uk-input-group-addon">
              <i class="md-list-addon-icon material-icons md-24">&#xE916;</i>
            </span>
            <label class="uk-form-label">{{ form_label(form.dateExam) }}</label>
            {{ form_widget(form.dateExam)}}
            <div class="parsley-errors-list filled uk-text-danger">
              {{ form_errors(form.dateExam) }}
            </div>
          </div>
          <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
            <div class="uk-width-1-2">
              <div class="uk-form-row uk-input-group">
                <span class="uk-input-group-addon">
                  <i class="md-list-addon-icon material-icons md-24">&#xE192;</i>
                </span>
                <label class="uk-form-label">{{ form_label(form.startTime) }}</label>
                {{ form_widget(form.startTime)}}
                <div class="parsley-errors-list filled uk-text-danger">
                  {{ form_errors(form.startTime) }}
                </div>
              </div>
            </div>
            <div class="uk-width-1-2">
              <div class="uk-form-row uk-input-group">
                <span class="uk-input-group-addon">
                  <i class="md-list-addon-icon material-icons md-24">&#xE192;</i>
                </span>
                <label class="uk-form-label">{{ form_label(form.endTime) }}</label>
                {{ form_widget(form.endTime)}}
                <div class="parsley-errors-list filled uk-text-danger">
                  {{ form_errors(form.endTime) }}
                </div>
              </div>
            </div>
            {{ form_widget(form) }}

            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
  {% endblock %}

  {% block javascripts %}
    {{ parent() }}
    {% include 'filter/grade_section_course_filter.html.twig' %}
  {% endblock %}
