{% extends 'layout/base.html.twig' %}

{% block sub_title_page %}
  <a href="{{ path('exam_index') }}">
    {{ 'exam.list.title'|trans }}
  </a>
  /
  <a href="#">
    {{ 'exam.show.title'|trans }}
  </a>
{% endblock %}

{% block stylesheets %}

  <!-- page specific plugins -->
  <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.min.css')}}">
  <link rel="stylesheet" href="{{ asset('assets/css/main.fix.min.css')}}">
  {{ parent() }}
{% endblock %}


{% block title_page %}
  {{ 'exam.show.title'|trans }}
{% endblock %}

{% block body %}
  <div class="md-card">
    <div class="md-card-toolbar">
      <h3 class="md-card-toolbar-heading-text">
        {{ 'exam.show.detail'|trans }}
      </h3>
    </div>
    <div class="md-card-content">
      <div class="uk-grid uk-grid-divider" data-uk-grid-margin>

        <div class="uk-width-xLarge-8-10  uk-width-large-7-10">

          <div class="uk-grid  uk-grid-medium" data-uk-grid-margin>
            <div class="uk-width-1-2">
              <ul class="md-list">

                <li>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">{{ exam.section.grade.gradeName }}</span>

                    <span class="uk-text-small uk-text-muted uk-display-block">
                      {{'section.field.grade'|trans }}</span>
                  </div>
                </li>
                <li>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">{{ exam.examName }}</span>
                  </div>
                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{'exam.field.examName'|trans }}</span>
                </li>

                <li>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">
                      {% if exam.dateExam %}{{ exam.dateExam|date('Y/m/d') }}{% endif %}
                    </span>

                    <span class="uk-text-small uk-text-muted uk-display-block">
                      {{'exam.field.dateExam'|trans }}</span>
                  </div>
                </li>
                <li>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">{{ exam.startTime|date('H:i:s') }}</span>

                    <span class="uk-text-small uk-text-muted uk-display-block">
                      {{'exam.field.startTime'|trans }}</span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="uk-width-1-2">
              <ul class="md-list">
                <li>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">{{ exam.section.sectionName }}</span>

                    <span class="uk-text-small uk-text-muted uk-display-block">
                      {{'exam.field.section'|trans }}</span>
                  </div>
                </li>
                <li>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">
                      * {{ exam.typeExam.factor }}</span>
                  </div>
                  <span class="uk-text-small uk-text-muted uk-display-block">
                    {{'typeexam.field.factor'|trans }}</span>
                </li>

                <li>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">{{ exam.typeExam.typeExamName }}</span>

                    <span class="uk-text-small uk-text-muted uk-display-block">
                      {{'exam.field.typeExam'|trans }}</span>
                  </div>
                </li>
                <li>
                  <div class="md-list-content">
                    <span class="md-list-heading uk-text-large">{{ exam.endTime|date('H:i:s') }}</span>

                    <span class="uk-text-small uk-text-muted uk-display-block">
                      {{'exam.field.endTime'|trans }}</span>
                  </div>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <div class="uk-width-xLarge-2-10 uk-width-large-3-10">
          <h3 class="heading_c uk-margin-small-bottom uk-margin-small-top">
            {{ 'author.info'|trans }}
          </h3>
          <ul class="md-list md-list-addon">
            <li>
              <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons">&#xE7FD;</i>
              </div>
              <div class="md-list-content">
                <span class="md-list-heading">{{ exam.user.username }}</span>
                <span class="uk-text-small uk-text-muted">{{ 'author.creator'|trans }}</span>
              </div>
            </li>
            <li>
              <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons">&#xE8DF;</i>
              </div>
              <div class="md-list-content">
                <span class="md-list-heading">
                  {% if exam.created %}{{ exam.created|date('d M Y') }}{% endif %}
                </span>
                <span class="uk-text-small uk-text-muted">{{ 'author.updated'|trans }}</span>
              </div>
            </li>
            <li>
              <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons">&#xE8B5;</i>
              </div>
              <div class="md-list-content">
                <span class="md-list-heading">
                  {% if exam.created %}{{ exam.created|date('d M Y') }}{% endif %}
                </span>
                <span class="uk-text-small uk-text-muted">{{ 'author.created'|trans }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="md-card uk-margin-medium-bottom">
    <div class="md-card-toolbar">
      <div class="md-card-toolbar-actions">
        <a  href="{{ path('exam_update', { 'id': exam.id }) }}">
          <i class="md-icon material-icons">&#xE923;</i>
        </a>
      </div>
      <h3 class="md-card-toolbar-heading-text">
        {{ 'note.show.detail'|trans }}
      </h3>
    </div>
    <div class="md-card-content">
      {{ datatable_render(notes) }}
    </div>
  </div>
{% endblock %}

{% block head_javascripts %}
  {{ parent() }}
  <!-- page specific plugins -->
  <!--  form file input functions -->
  <script src="{{ asset('assets/js/jquery.poshytip.min.js')}}"></script>
  <script src="{{ asset('assets/js/jquery-editable-poshytip.js')}}"></script>

{% endblock %}
