{% extends 'layout/base.html.twig' %}

{% block heading_actions %}
  <a href="{{ path('aboutus_index') }}">
    <i class="md-icon material-icons">&#xE5C4;</i>
  </a>
  <a href="{{ path('aboutus_new') }}">
    <i class="md-icon material-icons">&#xE5C8;</i>
  </a>
{% endblock %}

{% block sticky_button %}
  <a class="md-fab md-fab-primary" href="{{ path('aboutus_edit', { 'id': aboutUs.id }) }}">
    <i class="material-icons">&#xE254;</i>
  </a>
{% endblock %}

{% block title_page %}
  {{ 'aboutus.show.title'|trans }}
{% endblock %}

{% block body %}
  <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
    <div class="uk-width-xLarge-3-10  uk-width-large-3-10">
      <div class="md-card">
        <div class="md-card-toolbar">
          <h3 class="md-card-toolbar-heading-text">
            {{ "aboutus.field.image"|trans }}
          </h3>
        </div>
        <div class="md-card-content">
          <div class="uk-margin-bottom uk-text-center uk-position-relative">
            <img src="{{ vich_uploader_asset(aboutUs, 'imageFile') }}" alt="" class="img_medium"/>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-width-xLarge-5-10  uk-width-large-4-10">
      <div class="md-card">
        <div class="md-card-toolbar">
          <h3 class="md-card-toolbar-heading-text">
            {{ 'aboutus.show.detail'|trans }}
          </h3>
        </div>
        <div class="md-card-content">
          <ul class="md-list">
            <li>
              <div class="md-list-content">
                <span class="md-list-heading uk-text-large">{{ aboutUs.title }}</span>
              </div>
              <span class="uk-text-small uk-text-muted uk-display-block">
                {{'aboutus.field.title'|trans }}</span>
            </li>
            <li>
              <div class="md-list-content">
                <span class="md-list-heading uk-text-large">{{ aboutUs.text }}</span>
              </div>
              <span class="uk-text-small uk-text-muted uk-display-block">
                {{'aboutus.field.text'|trans }}</span>
            </li>
            <li>
              <div class="md-list-content">
                <span class="md-list-heading uk-text-large">{{ aboutUs.icon }}</span>
              </div>
              <span class="uk-text-small uk-text-muted uk-display-block">
                {{'aboutus.field.icon'|trans }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-width-xLarge-2-10 uk-width-large-3-10">
      <div class="md-card">
        <div class="md-card-toolbar">
          <h3 class="md-card-toolbar-heading-text">
            {{ 'author.info'|trans }}
          </h3>
        </div>
        <div class="md-card-content">
          <ul class="md-list md-list-addon">
            <li>
              <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons">&#xE7FD;</i>
              </div>
              <div class="md-list-content">
                <span class="md-list-heading">{{ aboutUs.user.username }}</span>
                <span class="uk-text-small uk-text-muted">{{ 'author.creator'|trans }}</span>
              </div>
            </li>
            <li>
              <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons">&#xE8DF;</i>
              </div>
              <div class="md-list-content">
                <span class="md-list-heading">
                  {% if aboutUs.created %}{{ aboutUs.created|date('d M Y') }}{% endif %}
                </span>
                <span class="uk-text-small uk-text-muted">{{ 'author.updated'|trans }}</span>
              </div>
            </li>
            <li>
              <div class="md-list-addon-element">
                <i class="md-list-addon-icon material-icons">&#xE8B5;</i>
              </div>
              <div class="md-list-content">
                <span class="md-list-heading">
                  {% if aboutUs.created %}{{ aboutUs.created|date('d M Y') }}{% endif %}
                </span>
                <span class="uk-text-small uk-text-muted">{{ 'author.created'|trans }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
