<div class="uk-width-medium-8-10 uk-container-center">
    <div class="md-card md-card-single">

            <div class="md-card-toolbar">
                <a href="{{ index_url }}"><span class="md-icon md-card-fullscreen-deactivate material-icons uk-float-left">&#xE5C4;</span></a>
                <h3 class="md-card-toolbar-heading-text large uk-margin-small-left">
                     {{ form_name|trans }}
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-margin-large-bottom">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
    </div>
</div>
