<div class="uk-width-medium-8-10 uk-container-center">
    <div class="md-card md-card-single">
        <div class="md-card-toolbar">
            <a href="{{ index_url }}"><span class="md-icon md-card-fullscreen-deactivate material-icons uk-float-left">&#xE5C4;</span></a>
            <h3 class="md-card-toolbar-heading-text large uk-margin-small-left">
                 {{ form_name }}
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-margin-large-bottom">
                {{ form_start(form) }}
                    <div class="uk-form-row">
                        <label class="uk-form-label">{{ form_label(form.grade) }}</label>
                        {{ form_widget(form.grade)}}
                        <div class="parsley-errors-list filled uk-text-danger">
                            {{ form_errors(form.grade) }}
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label">{{ form_label(form.division) }}</label>
                        {{ form_widget(form.division)}}
                        <div class="parsley-errors-list filled uk-text-danger">
                            {{ form_errors(form.division) }}
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label">{{ form_label(form.course) }}</label>
                        {{ form_widget(form.course)}}
                        <div class="parsley-errors-list filled uk-text-danger">
                            {{ form_errors(form.course) }}
                        </div>
                    </div>
                    {{ form_widget(form) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>