<!-- main sidebar -->
<aside id="sidebar_main">
    
    <div class="sidebar_main_header">
        <div class="sidebar_logo">
            <a href="index.html" class="sSidebar_hide sidebar_logo_large">
                <img class="logo_regular" src="{{ asset('assets/img/logo_main.png')}}" alt="" height="15" width="71"/>
                <img class="logo_light" src="{{ asset('assets/img/logo_main_white.png')}}" alt="" height="15" width="71"/>
            </a>
            <a href="index.html" class="sSidebar_show sidebar_logo_small">
                <img class="logo_regular" src="{{ asset('assets/img/logo_main_small.png')}}" alt="" height="32" width="32"/>
                <img class="logo_light" src="{{ asset('assets/img/logo_main_small_light.png')}}" alt="" height="32" width="32"/>
            </a>
        </div>
        <div class="sidebar_actions">
            <select id="lang_switcher" name="lang_switcher">
                <option value="fr" selected>French</option>
            </select>
        </div>
    </div>
    
    <div class="menu_section">
        {{ knp_menu_render('main' , { 'template': 'menu/knp_menu.html.twig'}) }}
    </div>
</aside> 