{##
 # This file is part of the SgDatatablesBundle package.
 #
 # (c) stwe <https://github.com/stwe/DatatablesBundle>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}
{% for column in view_columns %}
    {% if column.editable is defined and true == column.editable %}
        {% set token = csrf_token('editable') %}

        {% set choices = [] %}
            {% if 'choices' == column.alias %}
                {% for value, text in attendance %}
                    {% set choices = choices|merge( [{'value': value , 'text': text|trans() }]) %}
                {% endfor %}
            {% endif %}
        var str = '{{ column.data }}'.split(".").join("_");
        str = 'span.sg-editable-' + str;
        $.fn.editabletypes.combodate.defaults.inputclass = "md-input"; $.fn.editabletypes.email.defaults.inputclass = "md-input";
        $.fn.editabletypes.number.defaults.inputclass = "md-input"; $.fn.editabletypes.password.defaults.inputclass = "md-input"; $.fn.editabletypes.select.defaults.inputclass = "md-input"; $.fn.editabletypes.tel.defaults.inputclass = "md-input";
        $.fn.editabletypes.text.defaults.inputclass = "md-input"; $.fn.editabletypes.textarea.defaults.inputclass = "md-input"; $.fn.editabletypes.time.defaults.inputclass = "md-input"; $.fn.editabletypes.url.defaults.inputclass = "md-input";
        $.fn.editableform.buttons = '<div class="editable-footer">'+ '<button type="button" class="editable-cancel md-btn md-btn-small md-btn-flat">cancel</button>'+ '<button type="submit" class="editable-submit md-btn md-btn-small md-btn-flat md-btn-flat-primary">ok</button>'+ '</div>';

        $(str).editable({
            placement: "left",
            {# datetime column #}
            {% if 'datetime' == column.alias %}
            viewformat: '{{ column.dateFormat }}',
            combodate: {maxYear: 2050},
            {% endif %}
            {# boolean column #}
            {% if 'boolean' == column.alias %}
            source: [{'true': "{{ column.trueLabel ? column.trueLabel : 'true' }}"}, {'false': "{{ column.falseLabel ? column.falseLabel : 'false' }}"}],
            emptytext: 'false',
            {% endif %}
            {% if 'choices' == column.alias %}
                sourceCache: 'true',
                source: {{ choices|json_encode()|raw  }},
                emptytext: 'false',
            {% endif %}
            name: '{{ column.data }}',
            url: "{{ path('sg_datatables_edit') }}",
            title: '{{ column.title }} ' + "{{ 'datatables.actions.edit'|trans({}, 'messages') }}",
            params: function (params) {
                params.entity = '{{ datatable.entity|e('js') }}';
                params.token = '{{ token }}';

                return params;
            },
            validate: function(a) {
              if ("" == $.trim(a)) return "This field is required"
            },
            container: 'body',
            emptytext: "{{ 'datatables.actions.edit'|trans({}, 'messages') }}",
            {# many-to-one associations, Pipelining and the Responsive-extension need a complete table redraw #}
            {% if view_ajax.pipeline > 0 or column.isAssociation or view_features.extensions.responsive is defined and true == view_features.extensions.responsive %}
            success: function(response, newValue) {
                {% if view_ajax.pipeline > 0 %}
                    oTable.clearPipeline().draw();
                {% else %}
                    oTable.draw();
                {% endif %}
                {% if column.isAssociation %}
                    UIkit.modal.alert("{{ 'editable.tableRedraw'|trans({}, 'messages') }}");
                {% endif %}
            }
            {% endif %}
        });
    {% endif %}
{% endfor %}
