{% extends "@SNSBundlesUser/layout.html.twig" %}

{% block body %}            
    <div class="md-card-content large-padding " id="register_form">
        <a href="{{ path ('login') }}" class="uk-position-top-right uk-close uk-margin-right uk-margin-top"></a>
        <h2 class="heading_a uk-margin-medium-bottom">{{ "registration.title"|trans}}</h2>
        {{ form_start(form ) }}
            <div class=" uk-grid uk-grid-width-1-1 uk-grid-width-large-1-2">
                {{ form_widget(form) }}
            </div>
            
            <div class="uk-margin-medium-top">
                <button type="submit" class="md-btn md-btn-primary md-btn-block md-btn-large">{{ "registration.submit"|trans}}</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}            
