{% extends 'frontLayout/base.html.twig' %}

{% block body %}
  <section class="section-padding gray-bg">
    <div class="container">
      <div class="login-wrapper">
        <div class="card-wrapper"></div>
        <div class="card-wrapper">
          <h1 class="title">{{"login.page_title"|trans}}</h1>
          <form action="{{ path('login') }}" method="post">
            {% if error %}
              <div class="error-container">
                <i class="fa fa-times-circle"></i>
                {{ error.messageKey|trans(error.messageData, 'security') }}
              </div>
            {% endif %}
            <div class="login-container">
              <div class="input-field {{ last_username|length > 0 ? " md-input-filled" : " "}}">
                <label for="login_username">{{ 'user.field.username'|trans  }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}"/>
              </div>
              <div class="input-field">
                <label for="login_password">{{ 'user.field.password'|trans  }}</label>
                <input type="password" id="password" name="_password"/>
              </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="login-container">
              <button type="submit" class="btn btn-block waves-effect waves-light">
                {{ "login.submit"|trans }}
              </button>
            </div>
            <div class="footer">
              <a href="{{ path('resetting') }}">{{ "login.help_show"|trans}} <i class="fa fa-question" aria-hidden="true"></i></a>
            </div>
          </form>
        </div>
        <div class="card-wrapper alt ">
          <div class="toggle darken-2"></div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
