{% extends 'layout/base.html.twig' %}

{% block sticky_button %}
<a class="md-fab md-fab-primary" href="{{ path('student_new') }}">
    <i class="material-icons">&#xE145;</i>
</a>
{% endblock %}

{% block title_page %} 
 {{ 'student.list.title'|trans }}
{% endblock %}

{% block body %}
    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            <div class="dataTables_wrapper form-inline dt-uikit md-processed">
                <div class="dt-uikit-header">
                    <div class="uk-grid">
                        <div class="uk-width-medium-2-3">
                            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                                <button class="md-btn"><b>{{'action.name'|trans }}</b> <i class="material-icons">&#xE313;</i></button>
                                <div class="uk-dropdown uk-dropdown-small">
                                    <ul class="uk-nav uk-nav-dropdown">
                                        <li>
                                            <a data-box="#delete" class="mb-control" href="#">
                                                <i class="uk-icon-trash"></i> {{'action.delete'|trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-3">
                            <div id="dt_individual_search_filter" class="dataTables_filter">
                                <div class="md-input-wrapper">
                                    <form action="{{ path('student_index') }}" method="get">
                                        <input type="search" name="search" class="md-input" placeholder="{{'index.search'|trans }}" value="{{ search }}" aria-controls="dt_individual_search">
                                        <span class="md-input-bar "></span>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="uk-overflow-container">
                    <form action="{{ path('student_bulk_action') }}" method="post">
                        <table id="dt_individual_search" class="uk-table dataTable table_check" role="grid" aria-describedby="dt_individual_search_info">
                            <thead>
                                <tr role="row">
                                    <th class="uk-text-center small_col">
                                        <input type="checkbox" data-md-icheck class="check_all">
                                    </th>
                                        <th {% if students.isSorted('f.recordeNumber') %}{% if  students.direction == 'asc' %} class='sorting_asc uk-text-center' {% else %} class='sorting_desc uk-text-center'{% endif %}{% else %}class='sorting uk-text-center'{% endif %}>
                                            {{ knp_pagination_sortable(students, 'students.field.recordeNumber', 'f.recordeNumber') }}</th>
                                        <th {% if students.isSorted('f.firstName') %}{% if  students.direction == 'asc' %} class='sorting_asc uk-text-center' {% else %} class='sorting_desc uk-text-center'{% endif %}{% else %}class='sorting uk-text-center'{% endif %}>
                                            {{ knp_pagination_sortable(students, 'students.field.firstName', 'f.firstName') }}</th>
                                        <th {% if students.isSorted('f.lastName') %}{% if  students.direction == 'asc' %} class='sorting_asc uk-text-center' {% else %} class='sorting_desc uk-text-center'{% endif %}{% else %}class='sorting uk-text-center'{% endif %}>
                                            {{ knp_pagination_sortable(students, 'students.field.lastName', 'f.lastName') }}</th>
                                        <th {% if students.isSorted('f.gender') %}{% if  students.direction == 'asc' %} class='sorting_asc uk-text-center' {% else %} class='sorting_desc uk-text-center'{% endif %}{% else %}class='sorting uk-text-center'{% endif %}>
                                            {{ knp_pagination_sortable(students, 'students.field.gender', 'f.gender') }}</th>
                                        <th {% if students.isSorted('f.birthday') %}{% if  students.direction == 'asc' %} class='sorting_asc uk-text-center' {% else %} class='sorting_desc uk-text-center'{% endif %}{% else %}class='sorting uk-text-center'{% endif %}>
                                            {{ knp_pagination_sortable(students, 'students.field.birthday', 'f.birthday') }}</th>
                                        <th {% if students.isSorted('f.id') %}{% if  students.direction == 'asc' %} class='sorting_asc uk-text-center' {% else %} class='sorting_desc uk-text-center'{% endif %}{% else %}class='sorting uk-text-center'{% endif %}>
                                            {{ knp_pagination_sortable(students, 'students.field.id', 'f.id') }}</th>
                                        <th {% if students.isSorted('f.username') %}{% if  students.direction == 'asc' %} class='sorting_asc uk-text-center' {% else %} class='sorting_desc uk-text-center'{% endif %}{% else %}class='sorting uk-text-center'{% endif %}>
                                            {{ knp_pagination_sortable(students, 'students.field.username', 'f.username') }}</th>
                                        <th {% if students.isSorted('f.usernameCanonical') %}{% if  students.direction == 'asc' %} class='sorting_asc uk-text-center' {% else %} class='sorting_desc uk-text-center'{% endif %}{% else %}class='sorting uk-text-center'{% endif %}>
                                            {{ knp_pagination_sortable(students, 'students.field.usernameCanonical', 'f.usernameCanonical') }}</th>
                                        <th {% if students.isSorted('f.email') %}{% if  students.direction == 'asc' %} class='sorting_asc uk-text-center' {% else %} class='sorting_desc uk-text-center'{% endif %}{% else %}class='sorting uk-text-center'{% endif %}>
                                            {{ knp_pagination_sortable(students, 'students.field.email', 'f.email') }}</th>
                                        <th {% if students.isSorted('f.emailCanonical') %}{% if  students.direction == 'asc' %} class='sorting_asc uk-text-center' {% else %} class='sorting_desc uk-text-center'{% endif %}{% else %}class='sorting uk-text-center'{% endif %}>
                                            {{ knp_pagination_sortable(students, 'students.field.emailCanonical', 'f.emailCanonical') }}</th>
                                        <th {% if students.isSorted('f.enabled') %}{% if  students.direction == 'asc' %} class='sorting_asc uk-text-center' {% else %} class='sorting_desc uk-text-center'{% endif %}{% else %}class='sorting uk-text-center'{% endif %}>
                                            {{ knp_pagination_sortable(students, 'students.field.enabled', 'f.enabled') }}</th>
                                        <th {% if students.isSorted('f.salt') %}{% if  students.direction == 'asc' %} class='sorting_asc uk-text-center' {% else %} class='sorting_desc uk-text-center'{% endif %}{% else %}class='sorting uk-text-center'{% endif %}>
                                            {{ knp_pagination_sortable(students, 'students.field.salt', 'f.salt') }}</th>
                                        <th {% if students.isSorted('f.password') %}{% if  students.direction == 'asc' %} class='sorting_asc uk-text-center' {% else %} class='sorting_desc uk-text-center'{% endif %}{% else %}class='sorting uk-text-center'{% endif %}>
                                            {{ knp_pagination_sortable(students, 'students.field.password', 'f.password') }}</th>
                                        <th {% if students.isSorted('f.lastLogin') %}{% if  students.direction == 'asc' %} class='sorting_asc uk-text-center' {% else %} class='sorting_desc uk-text-center'{% endif %}{% else %}class='sorting uk-text-center'{% endif %}>
                                            {{ knp_pagination_sortable(students, 'students.field.lastLogin', 'f.lastLogin') }}</th>
                                        <th {% if students.isSorted('f.confirmationToken') %}{% if  students.direction == 'asc' %} class='sorting_asc uk-text-center' {% else %} class='sorting_desc uk-text-center'{% endif %}{% else %}class='sorting uk-text-center'{% endif %}>
                                            {{ knp_pagination_sortable(students, 'students.field.confirmationToken', 'f.confirmationToken') }}</th>
                                        <th {% if students.isSorted('f.passwordRequestedAt') %}{% if  students.direction == 'asc' %} class='sorting_asc uk-text-center' {% else %} class='sorting_desc uk-text-center'{% endif %}{% else %}class='sorting uk-text-center'{% endif %}>
                                            {{ knp_pagination_sortable(students, 'students.field.passwordRequestedAt', 'f.passwordRequestedAt') }}</th>
                                        <th {% if students.isSorted('f.roles') %}{% if  students.direction == 'asc' %} class='sorting_asc uk-text-center' {% else %} class='sorting_desc uk-text-center'{% endif %}{% else %}class='sorting uk-text-center'{% endif %}>
                                            {{ knp_pagination_sortable(students, 'students.field.roles', 'f.roles') }}</th>
                                    <th class="uk-text-center">{{'action.name'|trans }}</th>
                                </tr>
                            </thead>

                            <tbody>
                        
                                {% for student in students %}
                                    <tr>
                                    <td class="uk-text-center uk-table-middle small_col">
                                            <input type="checkbox" name="{{keys}}" value="{{ student.id }}" data-md-icheck class="check_row"></td>
                                        <td class="uk-text-center"><a href="{{ path('student_show', { 'id': student.id }) }}">{{ student.recordeNumber }}</a></td>
                                        <td class="uk-text-center">{{ student.firstName }}</td>
                                        <td class="uk-text-center">{{ student.lastName }}</td>
                                        <td class="uk-text-center">{{ student.gender }}</td>
                                        <td class="uk-text-center">{% if student.birthday %}{{ student.birthday|date('Y-m-d') }}{% endif %}</td>
                                        <td class="uk-text-center">{{ student.id }}</td>
                                        <td class="uk-text-center">{{ student.username }}</td>
                                        <td class="uk-text-center">{{ student.usernameCanonical }}</td>
                                        <td class="uk-text-center">{{ student.email }}</td>
                                        <td class="uk-text-center">{{ student.emailCanonical }}</td>
                                        <td class="uk-text-center">{% if student.enabled %}Yes{% else %}No{% endif %}</td>
                                        <td class="uk-text-center">{{ student.salt }}</td>
                                        <td class="uk-text-center">{{ student.password }}</td>
                                        <td class="uk-text-center">{% if student.lastLogin %}{{ student.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td class="uk-text-center">{{ student.confirmationToken }}</td>
                                        <td class="uk-text-center">{% if student.passwordRequestedAt %}{{ student.passwordRequestedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td class="uk-text-center">{% if student.roles %}{{ student.roles|join(', ') }}{% endif %}</td>
                                        <td class="uk-text-center">
                                            <a data-uk-tooltip="{pos:'top'}" title="{{'action.show'|trans }}" href="{{ path('student_show', { 'id': student.id }) }}"><i class="md-icon material-icons" >&#xE8F4;</i></a>
                                            
                                            <a data-uk-tooltip="{pos:'top'}" title="{{'action.edit'|trans }}" href="{{ path('student_edit', { 'id': student.id }) }}"><i class="md-icon material-icons">&#xE254;</i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <!-- MESSAGE BOX-->
                                    <div class="message-box animated fadeIn " data-sound="alert" id="delete">
                                        <div class="mb-container">
                                            <div class="mb-middle">
                                                <div class="uk-float-left">
                                                    <div class="mb-title">
                                                        <i class="uk-icon-trash "></i> {{ 'delete.name'|trans({'%item%' : 'student.item'|trans }) }} ?
                                                    </div>
                                                    <div class="mb-content">
                                                        <p>{{ 'delete.message'|trans({'%item%' : 'student.item'|trans }) }}</p>
                                                    </div>
                                                </div>
                                                
                                                <div class="mb-footer">
                                                    <div class="uk-float-right">
                                                        <div class="md-btn-group">
                                                            <input type="hidden" name="{{actions}}" value="{{ delete}}">
                                                            <button type="submit" class="md-btn md-btn-danger md-btn-medium md-btn-wave-light waves-effect waves-button waves-light">
                                                            <i class="icon-trash"></i>
                                                             {{ 'delete.yes'|trans }}
                                                            </button>
                                                            <button type="reset" class="md-btn md-btn-default md-btn-medium md-btn-wave-light waves-effect waves-button waves-light mb-control-close" >{{ 'delete.no'|trans }}</button>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <!-- END MESSAGE BOX-->
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="dt-uikit-footer">
                    <div class="uk-grid">
                        <div class="uk-width-medium-3-10">
                            <div class="dataTables_info" id="dt_individual_search_info" role="status" aria-live="polite">{{ 'index.count'|trans({ '%per_page%' : per_page , '%total%' : students.getTotalItemCount})}}</div>
                        </div>
                        <div class="uk-width-medium-7-10">
                            <div class="simple_numbers" id="dt_individual_search_paginate">
                                {{ knp_pagination_render(students) }}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
