<script type="text/javascript">
  $(function() {
    altair_wizard.advanced_wizard();
    $('.ion-slider').each(function() {
      var $productID = $(this).data('product');
      $(this).ionRangeSlider({
        min: 01,
        grid: true,
        keyboard: true,
        step: 1,
        onFinish: function(data) {
          var num = data.from * $('#total_' + $productID).data('price');

          $('#total_' + $productID).empty().append(num.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
          var sumPrice = 0;
          $('.total').each(function() {
            sumPrice += parseFloat($(this).text().replace(/[,]+/g, ""));
          });
          var sumQuantity = 0;
          $('.ion-slider').each(function() {
            sumQuantity += parseInt($(this).val());
          });
          $('#totalQuantity').empty().append(sumQuantity.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
          $('#totalPrice').empty().append(sumPrice.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));

          {% set token = csrf_token('storeCart') %}
          $.ajax({
            url: Routing.generate('store_bulk_cart_new', {id: $productID}),
            type: "POST",
            cache: false,
            data: {
              'token': '{{ token }}',
              'qte': data.from
            },
            success: function(success) {
              var result = JSON.parse(success);
              new UIkit.notify({
                message: "<a href='#' class='notify-action'><span class='uk-icon-times'></span></a>" + result.msg,
                status: "success",
                timeout: 100,
                group: null,
                pos: 'top-right'
              });
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              console.log(XMLHttpRequest + ' ' + textStatus + ' ' + errorThrown);
              new UIkit.notify({
                message: "<a href='#' class='notify-action'><span class='uk-icon-times'></span></a>" + textStatus,
                status: "error",
                timeout: 5000,
                group: null,
                pos: 'top-right'
              });
            }
          });
        }
      });
    });

    $(document).on('click', '.cart_delete', function(event) {
      var $this = $(this);
      var length = $("input.check_row:checkbox:checked").length;
      if (length > 0) {
        UIkit.modal.confirm("{{ 'datatables.bulk.confirmMsg'|trans({}, 'messages') }} ", function() {
          var checkValues = $('input.check_row:checkbox:checked').map(function() {
            return $(this).val();
          }).get();
          {% set token = csrf_token('storeCart') %}
          $.ajax({
            url: Routing.generate('store_bulk_cart_delete'),
            type: "POST",
            cache: false,
            data: {
              'token': '{{ token }}',
              'data': checkValues
            },
            success: function(success) {
              var result = JSON.parse(success);
              new UIkit.notify({
                message: "<a href='#' class='notify-action'><span class='uk-icon-times'></span></a>" + result.msg,
                status: "error",
                timeout: 5000,
                group: null,
                pos: 'top-right'
              });
              $('#cart_num').empty().append(result.num);
              for (var i = 0; i < checkValues.length; i++) {
                $("#" + checkValues[i]).remove();
              }
              if ($('#cart tbody').children().length == 0) {
                $('#cart tbody').html("<tr><td colspan=\"6\" class=\"uk-text-center\">{{ 'datatables.datatable.zeroRecords'|trans }}</td></tr>");
                $('#totalQuantity').empty().append("0");
                $('#totalPrice').empty().append("0.000");
                $('.button_next').addClass('disabled');
              }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              console.log(XMLHttpRequest + ' ' + textStatus + ' ' + errorThrown);
              new UIkit.notify({
                message: "<a href='#' class='notify-action'><span class='uk-icon-times'></span></a>" + textStatus,
                status: "error",
                timeout: 5000,
                group: null,
                pos: 'top-right'
              });
            }
          });

        });
      } else {
        UIkit.modal.alert("{{ 'datatables.bulk.selectError'|trans({}, 'messages') }}");
      }
    });
  });
  // wizard
  altair_wizard = {
    content_height: function(this_wizard, step) {
      var this_height = $(this_wizard).find('.step-' + step).actual('outerHeight');
      $(this_wizard).children('.content').animate({
        height: this_height
      }, 140, bez_easing_swiftOut);
    },
    advanced_wizard: function() {
      var $wizard_advanced = $('#wizard_advanced'),
        $wizard_advanced_form = $('#wizard_advanced_form');

      if ($wizard_advanced.length) {
        $wizard_advanced.steps({
          headerTag: "h3",
          bodyTag: "section",
          transitionEffect: "slideLeft",
          trigger: 'change',
          onInit: function(event, currentIndex) {
            altair_wizard.content_height($wizard_advanced, currentIndex);
            // reinitialize textareas autosize
            altair_forms.textarea_autosize();
            // reinitialize checkboxes
            altair_md.checkbox_radio($(".wizard-icheck"));
            // reinitialize uikit margin
            altair_uikit.reinitialize_grid_margin();
            // reinitialize selects
            altair_forms.select_elements($wizard_advanced_form);
            // resize content when accordion is toggled
            $('.uk-accordion').on('toggle.uk.accordion', function() {
              $window.resize();
            });

            $table_check = $('.table_check');
            $table_check.each(function() {
                var $this = $(this),
                    $checkAll = $this.find('.check_all'),
                    $checkRow = $this.find('.check_row');

                $checkAll
                    .on('ifChecked',function() {
                        $checkRow.iCheck('check');
                    })
                    .on('ifUnchecked',function() {
                        $checkRow.iCheck('uncheck');
                    });

                $checkRow
                    .on('ifChecked',function(event) {
                        $(event.currentTarget).closest('tr').addClass('row_checked');
                    })
                    .on('ifUnchecked',function(event) {
                        $(event.currentTarget).closest('tr').removeClass('row_checked');
                    })


            });

          },
          onStepChanged: function(event, currentIndex) {
            altair_wizard.content_height($wizard_advanced, currentIndex);

          },
          onFinished: function() {
            // show preloader
            altair_helpers.content_preloader_show('md');
            var $form = $wizard_advanced_form;
            // Submit data via AJAX to the form's action path.
            $.ajax({
              url: $form.attr('action'),
              type: $form.attr('method'),
              data: $form.serializeObject(),
              cache: false,
              timeout: 3000,
              success: function(msg) {
                // hide preloader
                altair_helpers.content_preloader_hide();
                // Position field now displays the appropriate positions.
                  new UIkit.notify({
                      message: "<a href='#' class='notify-action'><span class='uk-icon-times'></span></a>"+ msg,
                      status: "success",
                      timeout: 5000,
                      group: null,
                      pos: 'top-right',
                  });
              },
              error: function (XMLHttpRequest, textStatus, errorThrown) {
                  new UIkit.notify({
                      message: "<a href='#' class='notify-action'><span class='uk-icon-times'></span></a>"+textStatus,
                      status: "error",
                      timeout: 5000,
                      group: null,
                      pos: 'top-right',
                  });
              }
            });
          }
        })/*.steps("setStep", 2)*/;

        $window.on('debouncedresize', function() {
          var current_step = $wizard_advanced.find('.body.current').attr('data-step');
          altair_wizard.content_height($wizard_advanced, current_step);
        });



      }
    }
  };
</script>
