{% extends 'layout/base.html.twig' %}

{% block title_page %}
  {{ 'student.attendance.title'|trans }}
{% endblock %}

{% block body %}
  <div class="filter md-card">
    <div class="md-card-toolbar">
      <div class="md-card-toolbar-actions">
        <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
      </div>
      <h3 class="md-card-toolbar-heading-text">
        {{ 'student.attendance.title'|trans }}
      </h3>
    </div>
    <div class="md-card-content">
      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
    </div>
  </div>
  {% if attendances is defined %}
    <div class="uk-grid" data-uk-grid-margin>
      <div class="uk-width-medium-1-2">
        <div class="md-card">
          <div class="md-card-content">
            <div class="uk-overflow-container">
              <table class="uk-table uk-table-no-border uk-text-nowrap uk-table-align-vertical">
                <thead>
                  <tr>
                    <th class="border-table uk-text-nowrap uk-text-center md-bg-grey-100">
                      <h4 class="heading_d uk-margin-small-bottom">
                        {{ "student.stats.name"|trans }}
                      </h4>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for attendance in attendances %}
                    <tr>
                      {% if attendance.empty == true %}
                        <td class="uk-text-center uk-text-bold border-table">
                          --
                        </td>
                      {% else %}
                        <td class="uk-text-center uk-text-bold border-table">
                          <div data-echarts-table data-title="{{attendance.courseName }}" class="echart-small" data-values='{{ attendance.status|json_encode|raw }}'></div>
                        </td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-2">
        <div class="md-card">
          <div class="md-card-content">
            {% if stats is empty %}
              <div class="echart-large">
                <span class="chart_icon">
                  <i class="material-icons">&#xE88B;</i>
                  <h1 class="uk-text-large">{{ 'student.stats.not_found'|trans }}</h1>
                </span>
              </div>
            {% else %}
              <div data-echarts-pie data-title="{{ 'student.stats.name'|trans }}" data-values='{{ stats|json_encode|raw }}' class="echart-large"></div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('assets/plugins/chart/echarts.min.js')}}"></script>
  <script src="{{ asset('assets/plugins/easypiechart/jquery.easypiechart.min.js')}}"></script>
  <script src="{{ asset('assets/js/custom/echarts_functions.js')}}"></script>
{% endblock %}
