{% extends 'layout/base.html.twig' %}
{% block stylesheets %}
  <!-- page specific plugins -->
  <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.min.css')}}">
  {{ parent() }}
{% endblock %}
{% block sub_title_page %}
  <a href="{{ path('purchase_index') }}">
    {{ 'purchase.list.title'|trans }}
  </a>
  /
  <a href="#">
    {{ 'purchase.show.title'|trans }}
  </a>
{% endblock %}

{% block heading_actions %}
  <a href="{{ path('purchase_pdf' , { 'id' : purchase.id }) }}">
    <i class="md-icon material-icons">&#xE8AD;</i>
  </a>
  <a href="{{ path('purchase_img' , { 'id' : purchase.id }) }}">
    <i class="md-icon material-icons">&#xE412;</i>
  </a>
{% endblock %}


{% block sticky_button %}
<a class="md-fab md-fab-accent md-fab-wave waves-effect waves-button" href="{{ path('purchase_edit', { 'id': purchase.id }) }}">
    <i class="material-icons">&#xE254;</i>
</a>
{% endblock %}

{% block title_page %}
 {{ 'purchase.show.title'|trans }}
{% endblock %}

{% block body %}
<div class="md-card">
  <div class="md-card-toolbar">
    <h3 class="md-card-toolbar-heading-text">
      {{ 'purchase.show.detail'|trans }}
    </h3>
  </div>
  <div class="md-card-content">
    <div class="uk-grid uk-grid-divider" data-uk-grid-margin>

      <div class="uk-width-xLarge-8-10  uk-width-large-7-10">

        <div class="uk-grid" data-uk-grid-margin>
          <div class="uk-width-xLarge-1-2  uk-width-large-1-2">
            <ul class="md-list">

              <li>
                <div class="md-list-content">
                  <span class="md-list-heading uk-text-large">{{ purchase.provider.socialReason }}</span>
                </div>
                <span class="uk-text-small uk-text-muted uk-display-block">
                  {{'provider.field.socialReason'|trans }}</span>
              </li>
              <li>
                <div class="md-list-content">
                  <span class="md-list-heading uk-text-large">{{ purchase.provider.phone }}</span>
                </div>
                <span class="uk-text-small uk-text-muted uk-display-block">
                  {{'provider.field.phone'|trans }}</span>
              </li>
              <li>
                <div class="md-list-content">
                  <span class="md-list-heading uk-text-large">{{ purchase.provider.address }}</span>
                </div>
                <span class="uk-text-small uk-text-muted uk-display-block">
                  {{'provider.field.address'|trans }}</span>
              </li>
            </ul>
          </div>
          <div class="uk-width-xLarge-1-2  uk-width-large-1-2">

            <ul class="md-list">
              <li class="active" style="border-bottom: 1;">
                <div class="md-list-content">
                  <span class="md-list-heading uk-text-large">{{ purchase.reference }}</span>
                </div>
                <span class="uk-text-small uk-text-muted uk-display-block">
                  {{'purchase.field.reference'|trans }}</span>
              </li>
              <li class="active" style="border-bottom: 1;">
                <div class="md-list-content">
                  <span class="md-list-heading uk-text-large">
                    {% if purchase.state %}
                      {{ 'in_stock'|trans }}
                    {% else %}
                      {{ 'store.state.padding'|trans }}
                    {% endif %}
                  </span>
                </div>
                <span class="uk-text-small uk-text-muted uk-display-block">
                  {{'purchase.field.state'|trans }}</span>
              </li>
              <li class="active" style="border-bottom: 1;">
                <div class="md-list-content">
                  <span class="md-list-heading uk-text-large">{{ purchase.purchaseDate|date('d M Y') }}</span>
                </div>
                <span class="uk-text-small uk-text-muted uk-display-block">
                  {{'purchase.field.purchaseDate'|trans }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="uk-width-xLarge-2-10 uk-width-large-3-10">
        <h3 class="heading_c uk-margin-small-bottom uk-margin-small-top">
          {{ 'author.info'|trans }}
        </h3>
        <ul class="md-list md-list-addon">
          <li>
            <div class="md-list-addon-element">
              <i class="md-list-addon-icon material-icons">&#xE7FD;</i>
            </div>
            <div class="md-list-content">
              <span class="md-list-heading">{{ purchase.author.username }}</span>
              <span class="uk-text-small uk-text-muted">{{ 'author.creator'|trans }}</span>
            </div>
          </li>
          <li>
            <div class="md-list-addon-element">
              <i class="md-list-addon-icon material-icons">&#xE8DF;</i>
            </div>
            <div class="md-list-content">
              <span class="md-list-heading">
                {% if purchase.created %}{{ purchase.created|date('d M Y') }}{% endif %}
              </span>
              <span class="uk-text-small uk-text-muted">{{ 'author.updated'|trans }}</span>
            </div>
          </li>
          <li>
            <div class="md-list-addon-element">
              <i class="md-list-addon-icon material-icons">&#xE8B5;</i>
            </div>
            <div class="md-list-content">
              <span class="md-list-heading">
                {% if purchase.created %}{{ purchase.created|date('d M Y') }}{% endif %}
              </span>
              <span class="uk-text-small uk-text-muted">{{ 'author.created'|trans }}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="md-card">
  <div class="md-card-content">
    {{ datatable_render(lineOrder) }}
  </div>
</div>
{% endblock %}
{% block head_javascripts %}
  {{ parent() }}
  <!-- page specific plugins -->
  <!--  form file input functions -->
  <script src="{{ asset('assets/js/jquery.poshytip.min.js')}}"></script>
  <script src="{{ asset('assets/js/jquery-editable-poshytip.js')}}"></script>

{% endblock %}
